# Labs organized for Castor upload

### This lab layout follows the request of scientists and Castor staff  for upload in Castor

In [1]:
#import libraries

In [2]:
import os
import sys
from functools import reduce
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets

sys.path.insert(0, '../../')
from brickstudy import foundation

In [3]:
### import example lab organization from scientst

In [4]:
example = pd.read_csv('../../secret_data/Lab_vb_makeda.csv', sep=";")
example.head(4)

,Participant Id,Participant Status,Site Abbreviation,Participant Creation Date,ERY0,HB0,MCV0,HT0,RDW0,RETI0,...,ASAT0,AFOS0,GGT0,CRP0,KREA_U0,TE_U0,TE_U_KR0,ALB_U0,ALB_U_KR0,B120
0,BRICK_001,Enrolled,ERA,12-4-2024 11:39,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
example.columns

Index(['Participant Id', 'Participant Status', 'Site Abbreviation',
       'Participant Creation Date', 'ERY0', 'HB0', 'MCV0', 'HT0', 'RDW0',
       'RETI0', 'LEU0', 'TROMBO0', 'FE0', 'FERT0', 'TRAF0', 'TSAT0', 'ALAT0',
       'LDH0', 'TBIL0', 'DBIL0', 'KREA0', 'SCHWARTZ_Bedsite0', 'NRCA', 'GRAT0',
       'FOLZ0', 'UREU0', 'NA0', 'K00', 'VITD0', 'ASAT0', 'AFOS0', 'GGT0',
       'CRP0', 'KREA_U0', 'TE_U0', 'TE_U_KR0', 'ALB_U0', 'ALB_U_KR0', 'B120'],
      dtype='object')

In [6]:
example.shape

(1, 39)

In [7]:
# I reccomend turning K00 into K0, and NRCA to NRC0

### import baseline labs from 2022 and 2023
These labs should be named with _01 and uploaded to Castor as repeating data

In [8]:
#lab_data_baseline = pd.read_excel('../../secret_data/Brick_lab_20230914.xlsx')
lab_data = pd.read_csv('../../secret_data/BRICK_lab_data_update_18_03_2024.csv', sep= ';', encoding='latin1')

In [57]:
lab_data_baseline.head(3)

,studieID,effectiveDateTime,issued,code_code_original,code_display_original,hix_code,valueQuantity_comparator,valueQuantity_value,valueQuantity_unit,valueString,comment,interpretation_display,referenceRange_text,specimen_type,specimen_type_text,container_type,sample_note
0,BRICK-001,2022-06-20 15:09:28,2022-06-20 16:04:08,ORD8,Order(ORD1) - test bepaling tbv declaratie,NaN,NaN,NaN,NaN,DECLARATIE,NaN,NaN,NaN,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1,BRICK-001,2022-06-20 15:09:28,2022-06-20 16:04:08,ALB_U,Albumine in urine,M-albu.,NaN,0.008,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
2,BRICK-001,2022-06-20 15:09:28,2022-06-20 16:04:08,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.070,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN

In [58]:
len(lab_data_baseline.studieID.unique())

48

In [59]:
lab_data_baseline['studieID'] = lab_data_baseline['studieID'].astype(str)
lab_data_baseline['studieID'] = lab_data_baseline['studieID'].str.replace("-", "_")

In [60]:
lab_data_baseline.head(3)

,studieID,effectiveDateTime,issued,code_code_original,code_display_original,hix_code,valueQuantity_comparator,valueQuantity_value,valueQuantity_unit,valueString,comment,interpretation_display,referenceRange_text,specimen_type,specimen_type_text,container_type,sample_note
0,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,ORD8,Order(ORD1) - test bepaling tbv declaratie,NaN,NaN,NaN,NaN,DECLARATIE,NaN,NaN,NaN,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,ALB_U,Albumine in urine,M-albu.,NaN,0.008,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
2,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.070,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN

### We want  all the patients on thier own line, but not many lines per patient
We will try to accomplish this by splitting the dataset into each code-code-original i.e. each type of lab taken on the assumption we will almost always have one lab

In [61]:
lab_data_baseline.code_code_original.unique()

array(['ORD8', 'ALB_U', 'TE_U', 'TE_U_KR', 'ALB_U_KR', 'KREA_U', 'LORCCA',
       'BRICK', 'LDH', 'SCHWARTZ-Bedsite', 'LENGTH_ORD', 'LENGTH_DAT',
       'TRAF', 'KREA', 'CRP', 'DBIL', 'FERT', 'B12', 'FOLZ', 'K', nan,
       'FE', 'BAF9', 'UREU', 'TBIL', 'AFOS', 'GGT', 'ASAT', 'ALAT',
       'VITD', 'MCV', 'RDW', 'GRAT', 'HB', 'HT', 'LEU', 'ERY', 'TROMBO',
       'RETI', 'NRCA', 'ICT', 'LIP', 'HEM', 'TSAT', 'TNFa', 'OSMO_U',
       'GLUC_AO', 'SGEW', 'Eiwit', 'ERY_UR', 'LEUKO', 'Ketonen',
       'Bilirubine', 'Urobilinogeen', 'Nitriet', 'PH', 'UREU_U',
       'AB12_Roche', 'BGL', 'SCR', 'KRBL', 'G6PD', 'PIKI', 'F351',
       'FLAM_opti', 'FKAP_opti', 'FKALA_UR', 'BGK', 'HPLC HbA2',
       'HPLC HbF', 'HPLC HbS', 'BASO_DA', 'EO_DA', 'NEUT_DA', 'LYMFO_DA',
       'MONO_DA', 'HPLC HbA0', 'eDA_Neutro#', 'eDA_IG#', 'eDA_Baso#',
       'eDA_Eo#', 'eDA_Lymfo#', 'eDA_Mono#', 'IG_DA', 'ENDO_dummy', 'PT',
       'INR', 'FBGC', 'APTT', 'CAC', 'CAG', 'SVRIJ', 'SAC', 'STOT', 'F8S',
       'ATRO', 'Protrombine-gen_variant', 'FV_Leiden', 'CKD-EPIeGFR',
       'MNEU', 'CYSC'], dtype=object)

In [62]:
codes = lab_data_baseline.code_code_original.unique().astype(str)
codes

array(['ORD8', 'ALB_U', 'TE_U', 'TE_U_KR', 'ALB_U_KR', 'KREA_U', 'LORCCA',
       'BRICK', 'LDH', 'SCHWARTZ-Bedsite', 'LENGTH_ORD', 'LENGTH_DAT',
       'TRAF', 'KREA', 'CRP', 'DBIL', 'FERT', 'B12', 'FOLZ', 'K', 'nan',
       'FE', 'BAF9', 'UREU', 'TBIL', 'AFOS', 'GGT', 'ASAT', 'ALAT',
       'VITD', 'MCV', 'RDW', 'GRAT', 'HB', 'HT', 'LEU', 'ERY', 'TROMBO',
       'RETI', 'NRCA', 'ICT', 'LIP', 'HEM', 'TSAT', 'TNFa', 'OSMO_U',
       'GLUC_AO', 'SGEW', 'Eiwit', 'ERY_UR', 'LEUKO', 'Ketonen',
       'Bilirubine', 'Urobilinogeen', 'Nitriet', 'PH', 'UREU_U',
       'AB12_Roche', 'BGL', 'SCR', 'KRBL', 'G6PD', 'PIKI', 'F351',
       'FLAM_opti', 'FKAP_opti', 'FKALA_UR', 'BGK', 'HPLC HbA2',
       'HPLC HbF', 'HPLC HbS', 'BASO_DA', 'EO_DA', 'NEUT_DA', 'LYMFO_DA',
       'MONO_DA', 'HPLC HbA0', 'eDA_Neutro#', 'eDA_IG#', 'eDA_Baso#',
       'eDA_Eo#', 'eDA_Lymfo#', 'eDA_Mono#', 'IG_DA', 'ENDO_dummy', 'PT',
       'INR', 'FBGC', 'APTT', 'CAC', 'CAG', 'SVRIJ', 'SAC', 'STOT', 'F8S',
       'ATRO', 'Protrombine-gen_variant', 'FV_Leiden', 'CKD-EPIeGFR',
       'MNEU', 'CYSC'], dtype='<U23')

In [35]:
#Here we must decide wif we want to switch nan to NA, or we will have no NA0 value in the end

In [74]:
lab_data_baseline[lab_data_baseline['code_code_original'].isna()]

,studieID,effectiveDateTime,issued,code_code_original,code_display_original,hix_code,valueQuantity_comparator,valueQuantity_value,valueQuantity_unit,valueString,comment,interpretation_display,referenceRange_text,specimen_type,specimen_type_text,container_type,sample_note
20,BRICK_001,2022-06-20 15:12:28,2022-06-20 16:09:38,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
63,BRICK_002,2022-06-20 14:57:58,2022-06-20 15:47:23,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
111,BRICK_003,2022-06-20 14:46:36,2022-06-20 15:48:02,NaN,Natrium,Natrium,NaN,138.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
152,BRICK_004,2022-07-04 15:42:42,2022-07-04 16:24:37,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
199,BRICK_005,2022-12-14 10:25:38,2022-12-14 11:19:55,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
249,BRICK_006,2022-12-14 11:05:20,2022-12-14 12:17:35,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
289,BRICK_007,2022-07-11 11:19:45,2022-07-11 12:16:02,NaN,Natrium,Natrium,NaN,138.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
357,BRICK_008,2022-08-29 10:05:12,2022-08-29 11:07:14,NaN,Natrium,Natrium,NaN,143.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
422,BRICK_010,2023-06-05 11:52:04,2023-06-05 12:42:44,NaN,Natrium,Natrium,NaN,137.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
460,BRICK_011,2022-07-25 14:28:38,2022-07-25 15:35:54,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
550,BRICK_012,2022-03-16 16:07:41,2022-03-16 16:59:12,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Capillair bloed,Heparine microtainer met gel 0.5 ml,NaN
602,BRICK_013,2023-01-30 12:33:25,2023-01-30 13:25:28,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
624,BRICK_014,2022-07-25 13:18:46,2022-07-25 14:04:24,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
670,BRICK_015,2022-07-11 10:42:11,2022-07-11 11:28:34,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
745,BRICK_016,2022-09-19 10:57:29,2022-09-19 12:34:16,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
778,BRICK_017,2022-08-29 11:02:42,2022-08-29 11:55:39,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
877,BRICK_018,2022-09-19 10:56:14,2022-09-19 13:33:50,NaN,Natrium,Natrium,NaN,143.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
891,BRICK_019,2022-07-18 10:16:06,2022-07-18 11:26:07,NaN,Natrium,Natrium,NaN,138.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
991,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1053,BRICK_025,2022-09-12 15:52:42,2022-09-12 16:40:44,NaN,Natrium,Natrium,NaN,137.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1125,BRICK_026,2022-11-21 10:47:24,2022-11-21 11:45:57,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1191,BRICK_028,2023-06-21 10:36:57,2023-06-21 11:45:41,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 5.5 ml 18+,NaN
1231,BRICK_029,2022-11-21 11:05:32,2022-11-21 12:06:14,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1281,BRICK_030,2022-11-21 11:40:33,2022-11-21 12:46:42,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1326,BRICK_031,2022-10-24 12:12:08,2022-10-24 13:29:33,NaN,Natrium,Natrium,NaN,144.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1374,BRICK_032,2022-10-24 10:23:56,2022-10-24 11:09:41,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1423,BRICK_033,2022-10-24 11:18:58,2022-10-24 12:18:06,NaN,Natrium,Natrium,NaN,138.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1440,BRICK_035,2023-02-27 10:20:12,2023-02-27 11:14:28,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 5.5 ml 18+,NaN
1511,BRICK_037,2022-12-12 12:27:51,2022-12-12 13:24:58,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1569,BRICK_040,2023-02-27 11:23:43,2023-02-27 12:34:35,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1615,BRICK_041,2023-01-25 11:10:42,2023-01-25 11:59:48,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1633,BRICK_042,2023-01-25 10:03:46,2023-01-25 10:57:28,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1703,BRICK_044,2023-01-30 11:41:34,2023-01-30 12:59:05,NaN,Natrium,Natrium,NaN,139.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1746,BRICK_047,2023-03-27 10:47:04,2023-03-27 11:38:49,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1757,BRICK_048,2023-03-27 09:21:14,2023-03-27 10:45:25,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1809,BRICK_049,2023-03-27 09:26:55,2023-03-27 10:30:50,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1877,BRICK_050,2023-03-27 11:10:27,2023-03-27 12:11:48,NaN,Natrium,Natrium,NaN,138.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1923,BRICK_051,2023-03-13 11:28:16,2023-03-13 12:19:04,NaN,Natrium,Natrium,NaN,140.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1968,BRICK_052,2023-04-04 14:03:22,2023-04-04 14:42:56,NaN,Natrium,Natrium,NaN,137.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1981,BRICK_053,2023-04-04 12:53:01,2023-04-04 13:54:03,NaN,Natrium,Natrium,NaN,136.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
2037,BRICK_054,2023-04-26 10:50:23,2023-04-26 13:23:11,NaN,Natrium,Natrium,NaN,142.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
2077,BRICK_056,2023-05-10 12:08:19,2023-05-10 13:07:47,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
2125,BRICK_058,2023-05-10 09:45:08,2023-05-10 10:41:42,NaN,Natrium,Natrium,NaN,141.0,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN

In [77]:
lab_data_baseline['code_code_original'] = lab_data_baseline['code_code_original'].fillna('NA')

In [78]:
codes = lab_data_baseline.code_code_original.unique().astype(str)
codes

array(['ORD8', 'ALB_U', 'TE_U', 'TE_U_KR', 'ALB_U_KR', 'KREA_U', 'LORCCA',
       'BRICK', 'LDH', 'SCHWARTZ-Bedsite', 'LENGTH_ORD', 'LENGTH_DAT',
       'TRAF', 'KREA', 'CRP', 'DBIL', 'FERT', 'B12', 'FOLZ', 'K', 'NA',
       'FE', 'BAF9', 'UREU', 'TBIL', 'AFOS', 'GGT', 'ASAT', 'ALAT',
       'VITD', 'MCV', 'RDW', 'GRAT', 'HB', 'HT', 'LEU', 'ERY', 'TROMBO',
       'RETI', 'NRCA', 'ICT', 'LIP', 'HEM', 'TSAT', 'TNFa', 'OSMO_U',
       'GLUC_AO', 'SGEW', 'Eiwit', 'ERY_UR', 'LEUKO', 'Ketonen',
       'Bilirubine', 'Urobilinogeen', 'Nitriet', 'PH', 'UREU_U',
       'AB12_Roche', 'BGL', 'SCR', 'KRBL', 'G6PD', 'PIKI', 'F351',
       'FLAM_opti', 'FKAP_opti', 'FKALA_UR', 'BGK', 'HPLC HbA2',
       'HPLC HbF', 'HPLC HbS', 'BASO_DA', 'EO_DA', 'NEUT_DA', 'LYMFO_DA',
       'MONO_DA', 'HPLC HbA0', 'eDA_Neutro#', 'eDA_IG#', 'eDA_Baso#',
       'eDA_Eo#', 'eDA_Lymfo#', 'eDA_Mono#', 'IG_DA', 'ENDO_dummy', 'PT',
       'INR', 'FBGC', 'APTT', 'CAC', 'CAG', 'SVRIJ', 'SAC', 'STOT', 'F8S',
       'ATRO', 'Protrombine-gen_variant', 'FV_Leiden', 'CKD-EPIeGFR',
       'MNEU', 'CYSC'], dtype='<U23')

In [79]:
lab_data_baseline[lab_data_baseline['code_code_original'] == 'nan']

Empty DataFrame
Columns: [studieID, effectiveDateTime, issued, code_code_original, code_display_original, hix_code, valueQuantity_comparator, valueQuantity_value, valueQuantity_unit, valueString, comment, interpretation_display, referenceRange_text, specimen_type, specimen_type_text, container_type, sample_note]
Index: []

In [80]:
len(codes)

101

In [81]:
## Notte there is a code BRICK...let's examine

In [82]:
lab_data_baseline[lab_data_baseline.code_code_original =='BRICK'].head(5)

,studieID,effectiveDateTime,issued,code_code_original,code_display_original,hix_code,valueQuantity_comparator,valueQuantity_value,valueQuantity_unit,valueString,comment,interpretation_display,referenceRange_text,specimen_type,specimen_type_text,container_type,sample_note
7,BRICK_001,2022-06-20 15:11:17,2022-06-20 15:22:57,BRICK,BRICK,Trial/Studie,NaN,NaN,NaN,Afgenomen,BRICK,NaN,NaN,Bloed,Studies/trials,EDTA 6 ml,NaN
49,BRICK_002,2022-06-20 14:51:50,2022-06-20 15:07:14,BRICK,BRICK,Trial/Studie,NaN,NaN,NaN,Afgenomen,BRICK,NaN,NaN,Bloed,Studies/trials,EDTA 6 ml,NaN
98,BRICK_003,2022-06-20 14:45:43,2022-06-20 15:07:16,BRICK,BRICK,Trial/Studie,NaN,NaN,NaN,Afgenomen,BRICK,NaN,NaN,Bloed,Studies/trials,EDTA 6 ml,NaN
186,BRICK_004,2022-07-04 15:43:16,2022-07-04 15:50:06,BRICK,BRICK,Trial/Studie,NaN,NaN,NaN,Afgenomen,BRICK,NaN,NaN,Bloed,Studies/trials,EDTA 6 ml,NaN
229,BRICK_005,2022-12-14 10:26:54,2022-12-14 10:37:03,BRICK,BRICK,Trial/Studie,NaN,NaN,NaN,Afgenomen,BRICK,NaN,NaN,Bloed,Studies/trials,EDTA 6 ml,NaN

In [83]:
len(example.columns)

39

Scientists not interested in ICT, LIP, HEM, ORD8, BAF9 or EX_LUMC therefore we will drop these values

In [84]:
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'ICT'].index)
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'LIP'].index)
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'HEM'].index)
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'ORD8'].index)
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'BAF9'].index)
lab_data_baseline = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['code_code_original']== 'EX_LUMC'].index)

Also according to example there are about 50 other codes they do ont care for. We will drop these here too:

In [85]:
codes0 = [code + "0" for code in codes]
codes0_set = set(codes0)
expected_set = set(example.columns)
expected_set

{'AFOS0',
 'ALAT0',
 'ALB_U0',
 'ALB_U_KR0',
 'ASAT0',
 'B120',
 'CRP0',
 'DBIL0',
 'ERY0',
 'FE0',
 'FERT0',
 'FOLZ0',
 'GGT0',
 'GRAT0',
 'HB0',
 'HT0',
 'K00',
 'KREA0',
 'KREA_U0',
 'LDH0',
 'LEU0',
 'MCV0',
 'NA0',
 'NRCA',
 'Participant Creation Date',
 'Participant Id',
 'Participant Status',
 'RDW0',
 'RETI0',
 'SCHWARTZ_Bedsite0',
 'Site Abbreviation',
 'TBIL0',
 'TE_U0',
 'TE_U_KR0',
 'TRAF0',
 'TROMBO0',
 'TSAT0',
 'UREU0',
 'VITD0'}

In [86]:
# here we will show columsn we were essentially asked to get rid of
droppable = codes0_set - expected_set
list_droppable = list(droppable)
list_droppable = [code[:-1] for code in list_droppable]
#list_droppable

In [87]:
# here we can show what we will keep
list_keepable = expected_set
list_keepable =  [code[:-1] for code in list_keepable]
list_keepable

['ASAT',
 'HB',
 'TE_U_KR',
 'VITD',
 'CRP',
 'SCHWARTZ_Bedsite',
 'HT',
 'ALB_U',
 'NRC',
 'UREU',
 'KREA_U',
 'DBIL',
 'NA',
 'ERY',
 'FOLZ',
 'LDH',
 'MCV',
 'KREA',
 'ALB_U_KR',
 'Participant Creation Dat',
 'TBIL',
 'TROMBO',
 'TRAF',
 'TE_U',
 'LEU',
 'AFOS',
 'Site Abbreviatio',
 'FE',
 'B12',
 'GGT',
 'FERT',
 'ALAT',
 'RDW',
 'K0',
 'Participant I',
 'Participant Statu',
 'TSAT',
 'GRAT',
 'RETI']

In [88]:
list_keepable_amended = ['CRP',
                         'FERT',
                         'TROMBO',
                         'MCV',
                         'K',
                         'FOLZ',
                         'HB',
                         'HT',
                         'UREU',
                         'VITD',
                         'GGT',
                         'ALB_U',
                         'SCHWARTZ-Bedsite',
                         'ASAT',
                         'ERY',
                         'TBIL',
                         'DBIL',
                         'TE_U',
                         'TRAF',
                         'AFOS',
                         'NA',
                         'GRAT',
                         'LDH',
                         'FE',
                         'ALB_U_KR',
                         'B12',
                         'LEU',
                         'RETI',
                         'TSAT',
                         'KREA_U',
                         'ALAT',
                         'KREA',
                         'TE_U_KR',
                         'NRCA',
                         'RDW',]

In [89]:
# lab_data_baseline = lab_data_baseline[~lab_data_baseline[lab_data_baseline['code_code_original'].isin(list_droppable)]]
# lab_data_baseline
lab_data_baseline = lab_data_baseline[lab_data_baseline['code_code_original'].isin(list_keepable_amended)]

In [90]:
lab_data_baseline['code_code_original'].unique()

array(['ALB_U', 'TE_U', 'TE_U_KR', 'ALB_U_KR', 'KREA_U', 'LDH',
       'SCHWARTZ-Bedsite', 'TRAF', 'KREA', 'CRP', 'DBIL', 'FERT', 'B12',
       'FOLZ', 'K', 'NA', 'FE', 'UREU', 'TBIL', 'AFOS', 'GGT', 'ASAT',
       'ALAT', 'VITD', 'MCV', 'RDW', 'GRAT', 'HB', 'HT', 'LEU', 'ERY',
       'TROMBO', 'RETI', 'NRCA', 'TSAT'], dtype=object)

In [91]:
new_codes = list(lab_data_baseline['code_code_original'].unique())

Scientist wants to get rid of doubles, i.e. brick 08, 12, 21 and 25. There are doubles because labs were not taken at precisely the same time

In [92]:
#example
lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_008']['effectiveDateTime'].unique()

<DatetimeArray>
['2022-08-29 10:05:12', '2022-08-29 10:05:53', '2022-08-29 11:47:51']
Length: 3, dtype: datetime64[ns]

In [93]:
#get the brick8 we want by resetting all the times to be the same
brick_8_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_008']#[lab_data['effectiveDateTime'] == '2022-08-29 10:05:12.0000000']
brick_8_wanted['effectiveDateTime'] = '2022-08-29 10:05:12.0000000'
#brick_8_wanted

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\449678190.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brick_8_wanted['effectiveDateTime'] = '2022-08-29 10:05:12.0000000'

In [94]:
#len(brick_8_wanted)

In [95]:
#len(brick_8_wanted.code_code_original.unique())

It did not work the way we wanted because there were repeats. Let's use only one date:

In [96]:
brick_8_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_008'][lab_data_baseline['effectiveDateTime'] == '2022-08-29 10:05:12.0000000']
#brick_8_wanted

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\3824156078.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brick_8_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_008'][lab_data_baseline['effectiveDateTime'] == '2022-08-29 10:05:12.0000000']

In [97]:
#12
lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012']['effectiveDateTime'].unique()

<DatetimeArray>
['2022-03-16 15:43:08', '2022-03-16 16:07:41', '2022-07-18 10:02:25']
Length: 3, dtype: datetime64[ns]

In [98]:
# Here we will assume scientist wants the lab values 4 months later dropped, as not a baseline value
brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]
# we will reset to all the same date
#brick_12_wanted 
brick_12_wanted['effectiveDateTime'] = '2022-03-16 15:43:08'

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\2768992246.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]
C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\2768992246.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]

In [99]:
lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_021']['effectiveDateTime'].unique()

<DatetimeArray>
['2023-06-29 08:46:36', '2023-06-29 08:47:57', '2023-06-29 12:41:15']
Length: 3, dtype: datetime64[ns]

In [100]:
#brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 08:47:57']

In [101]:
brick_21_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_021']
#brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 08:46:36']
#brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 08:47:57']
#brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 12:41:15']

In [102]:
brick_21_urine = brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 12:41:15']

In [103]:
brick_21_main = brick_21_wanted[brick_21_wanted['effectiveDateTime'] =='2023-06-29 08:47:57']

In [104]:
brick_21_wanted = pd.concat([brick_21_urine, brick_21_main])
brick_21_wanted

,studieID,effectiveDateTime,issued,code_code_original,code_display_original,hix_code,valueQuantity_comparator,valueQuantity_value,valueQuantity_unit,valueString,comment,interpretation_display,referenceRange_text,specimen_type,specimen_type_text,container_type,sample_note
1008,BRICK_021,2023-06-29 12:41:15,2023-06-29 13:44:32,ALB_U,Albumine in urine,M-albu.,NaN,0.0030,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1009,BRICK_021,2023-06-29 12:41:15,2023-06-29 13:44:32,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.0600,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1010,BRICK_021,2023-06-29 12:41:15,2023-06-29 13:44:32,KREA_U,Kreatinine in urine,Kreatinine,NaN,4.5000,mmol/l,NaN,NaN,Normal,2.0 - 8.0,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1011,BRICK_021,2023-06-29 12:41:15,2023-06-29 13:44:32,TE_U_KR,Tot.eiwit urine/kreat,Eiwit/kreat,NaN,13.3300,mg/mmol,NaN,NaN,Normal,<15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
1012,BRICK_021,2023-06-29 12:41:15,2023-06-29 13:44:32,ALB_U_KR,Albumine/Kreatinine ratio,Albu/Kreat,NaN,0.6700,g/mol Kreatinine,NaN,NaN,Normal,<3,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
970,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,HT,Hematocriet,Hematocriet,NaN,0.2200,L/L,NaN,VALAB_V,Low,0.32 - 0.40,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
971,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,HB,Hemoglobine,Hemoglobine,NaN,4.4000,mmol/L,NaN,VALAB_V,Critically low,6.6 - 8.4,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
972,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:08:22,GRAT,Neutrofielen granulocyten abs.,Neutrofielen abs.,NaN,3.4000,10*9/L,NaN,VALAB_V,NaN,NaN,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
973,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,RDW,RDW,RDW,NaN,19.7000,%,NaN,VALAB_V,High,"12,0 - 14,0",Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
974,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,MCV,MCV,MCV,NaN,82.0000,fL,NaN,VALAB_V,Normal,74 - 88,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
975,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,ALAT,ALAT,ALAT (GPT),NaN,7.0000,U/l,NaN,VALAB_V,Normal,< 39,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
976,BRICK_021,2023-06-29 08:47:57,2023-06-29 12:41:51,VITD,25-OH Vitamine D,25-OH Vit. D,NaN,49.0000,nmol/L,NaN,NaN,Low,50 - 120,Bloed,Veneus bloed,Stolbuis gel 3.5 ml 18-,NaN
977,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,ASAT,ASAT,ASAT (GOT),NaN,51.0000,U/l,NaN,VALAB_V,High,< 51,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
978,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,GGT,Gamma-GT,Gamma-GT,NaN,10.0000,U/l,NaN,VALAB_V,Normal,< 17,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
979,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,AFOS,Alk.Fosf.,Alk.fosf.,NaN,258.0000,U/l,NaN,VALAB_V,Normal,< 425,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
980,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,TRAF,Transferrine,Transferrine,NaN,1.5000,g/l,NaN,VALAB_V,Low,2.0 - 3.5,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
981,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,KREA,Kreatinine,Kreatinine,NaN,36.0000,umol/l,NaN,VALAB_V,Normal,31 - 68,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
982,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,LDH,LDH,LD,NaN,721.0000,U/L,NaN,VALAB_V,High,< 425,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
983,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,UREU,Ureum,Ureum,NaN,2.4000,mmol/l,NaN,VALAB_V,Low,3.3 - 5.6,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
984,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,TBIL,Tot. Bilirubine,Tot. bilirub,NaN,47.2000,umol/l,NaN,VALAB_V,NaN,NaN,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
985,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,CRP,CRP,CRP,NaN,4.9000,mg/l,NaN,VALAB_V,Normal,< 10,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
986,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,DBIL,Dir. Bilirubine,Dir. bilirub,NaN,11.0000,umol/l,NaN,VALAB_V,High,< 5,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
987,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:37:03,FERT,Ferritine,Ferritine,NaN,194.0000,ug/l,NaN,VALAB-a>,High,10 - 140,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
988,BRICK_021,2023-06-29 08:47:57,2023-06-29 10:14:59,B12,Vitamine B12,Totaal B12,NaN,485.0000,pmol/l,NaN,NaN,Normal,145 - 637,Bloed,Veneus bloed,Stolbuis gel 3.5 ml 18-,NaN
989,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:44:51,FOLZ,Foliumzuur,Foliumzuur,NaN,44.0000,nmol/l,NaN,NaN,High,5-40,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
990,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,K,Kalium,Kalium,NaN,4.2000,mmol/l,NaN,VALAB_V,Normal,3.5 - 5.1,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
991,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,NA,Natrium,Natrium,NaN,141.0000,mmol/l,NaN,VALAB_V,Normal,136 - 145,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
992,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,FE,IJzer,IJzer,NaN,18.4000,umol/l,NaN,VALAB_V,Normal,10 - 30,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
995,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:20:18,NRCA,Erytroblasten abs.,erytrobl.,NaN,NaN,NaN,NaN,NaN,NaN,< 0.01,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
998,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,RETI,Reticulocyten abs.,Retic. abs.,NaN,381.9000,10*9/L,NaN,VALAB_V,High,42 - 70,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
999,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,TROMBO,Trombocyten,Trombocyten,NaN,104.0000,10*9/L,NaN,VALAB_V,Low,199 - 369,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
1000,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,ERY,Erytrocyten,Erytrocyten,NaN,2.6800,10*12/L,NaN,VALAB_V,Low,3.90 - 5.03,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
1001,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:21:12,LEU,Leukocyten,Leukocyten,NaN,6.9000,10*9/L,NaN,VALAB_V,Normal,4.3 - 11.4,Bloed,Veneus bloed,EDTA 2 ml 18-,NaN
1002,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:24,SCHWARTZ-Bedsite,SCHWARTZ-Bedsite,Schwartz eGFR,NaN,154.2125,mL/min,NaN,NaN,Normal,> 90,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1006,BRICK_021,2023-06-29 08:47:57,2023-06-29 09:33:25,TSAT,Transferrine saturatie,Transfer.Sat,NaN,48.6800,%,NaN,NaN,High,15-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN

In [105]:
## here we will "redate" them all to match
####brick_21_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_021']
brick_21_wanted['effectiveDateTime'] = '2023-06-29 08:46:36'
#brick_12_wanted

In [106]:
lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_025']['effectiveDateTime'].unique()

<DatetimeArray>
['2022-09-12 15:04:12', '2022-09-12 15:44:02', '2022-09-12 15:52:42']
Length: 3, dtype: datetime64[ns]

In [107]:
#brick_25_wanted 
brick_25_mcv_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_025'][lab_data_baseline['effectiveDateTime'] == '2022-09-12 15:52:42.0000000']
#brick_25_mcv_wanted

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\4213958660.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brick_25_mcv_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_025'][lab_data_baseline['effectiveDateTime'] == '2022-09-12 15:52:42.0000000']

In [108]:
brick_25_urine_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_025'][lab_data_baseline['effectiveDateTime'] == '2022-09-12 15:44:02.0000000']
print(brick_25_urine_wanted.shape)
#brick_25_urine_wanted.

(5, 17)

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\1564476141.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brick_25_urine_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_025'][lab_data_baseline['effectiveDateTime'] == '2022-09-12 15:44:02.0000000']

In [109]:
#get the brick25 we want by concatenating and  resetting all the times to be the same
brick_25_wanted = pd.concat([brick_25_mcv_wanted ,brick_25_urine_wanted ])
print(brick_25_wanted.shape)
brick_25_wanted['effectiveDateTime'] = '2022-09-12 15:52:42'
brick_25_wanted.effectiveDateTime.unique()

(35, 17)

array(['2022-09-12 15:52:42'], dtype=object)

In [110]:
#12
lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012']['effectiveDateTime'].unique()

<DatetimeArray>
['2022-03-16 15:43:08', '2022-03-16 16:07:41', '2022-07-18 10:02:25']
Length: 3, dtype: datetime64[ns]

In [111]:
# Here we will assume scientist wants the lab values 4 months later dropped, as not a baseline value
brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]
# we will reset to all the same date
#brick_12_wanted 
brick_12_wanted['effectiveDateTime'] = '2022-03-16 15:43:08'

C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\2768992246.py:2: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]
C:\Users\Candace\AppData\Local\Temp\2\ipykernel_6296\2768992246.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brick_12_wanted = lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'][lab_data_baseline['effectiveDateTime'].isin(['2022-03-16 15:43:08', '2022-03-16 16:07:41'])]

In [112]:


#now let's drop all of them, then append back on what we want
lab_data_no_ = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_012'].index)
lab_data_no_ = lab_data_no_.drop(lab_data_no_[lab_data_no_['studieID'] == 'BRICK_008'].index)
lab_data_no_ = lab_data_no_.drop(lab_data_no_[lab_data_no_['studieID'] == 'BRICK_021'].index)
lab_data_no_ = lab_data_no_.drop(lab_data_no_[lab_data_no_['studieID'] == 'BRICK_025'].index)
#lab_data =

In [113]:
lab_data_no_.studieID.unique()

array(['BRICK_001', 'BRICK_002', 'BRICK_003', 'BRICK_004', 'BRICK_005',
       'BRICK_006', 'BRICK_007', 'BRICK_009', 'BRICK_010', 'BRICK_011',
       'BRICK_013', 'BRICK_014', 'BRICK_015', 'BRICK_016', 'BRICK_017',
       'BRICK_018', 'BRICK_019', 'BRICK_024', 'BRICK_026', 'BRICK_027',
       'BRICK_028', 'BRICK_029', 'BRICK_030', 'BRICK_031', 'BRICK_032',
       'BRICK_033', 'BRICK_035', 'BRICK_037', 'BRICK_038', 'BRICK_039',
       'BRICK_040', 'BRICK_041', 'BRICK_042', 'BRICK_044', 'BRICK_047',
       'BRICK_048', 'BRICK_049', 'BRICK_050', 'BRICK_051', 'BRICK_052',
       'BRICK_053', 'BRICK_054', 'BRICK_056', 'BRICK_058'], dtype=object)

In [114]:
#lab_data_baseline

In [115]:
# lab_data2_no_ = lab_data_baseline.drop(lab_data_baseline[lab_data_baseline['studieID'] == 'BRICK_008'].index)
# lab_data2_no_ = lab_data2_no_.drop(lab_data2_no[lab_data2_no_['studieID'] == 'BRICK_012'].index)
# lab_data2_no_ = lab_data2_no_.drop(lab_data2_no[lab_data2_no_['studieID'] == 'BRICK_021'].index)
# lab_data2_no_ = lab_data2_no_.drop(lab_data2_no[lab_data2_no_['studieID'] == 'BRICK_025'].index)

In [116]:
lab_data = pd.concat([lab_data_no_, brick_8_wanted,  brick_12_wanted, brick_25_wanted, brick_21_wanted])
lab_data.shape

(1508, 17)

In [117]:
list_of_data_frames = []
for code in new_codes:
    prenames = ["code_code_original", code]
    frame_name = "_".join(prenames)
    #print(frame_name)
    frame_name = lab_data[lab_data['code_code_original'] == code]
    frame_name = frame_name.add_suffix(code)
    frame_name = frame_name.rename(columns= {frame_name.columns[0]:'studieID'})
    list_of_data_frames.append(frame_name)

In [118]:
len(list_of_data_frames)

35

In [119]:
len(new_codes)

35

Let's look at an example:

In [120]:
list_of_data_frames[0].head(3)

,studieID,effectiveDateTimeALB_U,issuedALB_U,code_code_originalALB_U,code_display_originalALB_U,hix_codeALB_U,valueQuantity_comparatorALB_U,valueQuantity_valueALB_U,valueQuantity_unitALB_U,valueStringALB_U,commentALB_U,interpretation_displayALB_U,referenceRange_textALB_U,specimen_typeALB_U,specimen_type_textALB_U,container_typeALB_U,sample_noteALB_U
1,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,ALB_U,Albumine in urine,M-albu.,NaN,0.008,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
93,BRICK_002,2022-06-20 14:58:46,2022-06-20 15:53:17,ALB_U,Albumine in urine,M-albu.,NaN,0.002,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
141,BRICK_003,2022-06-20 14:47:20,2022-06-20 15:51:28,ALB_U,Albumine in urine,M-albu.,NaN,0.020,g/L,NaN,NaN,Normal,< 0.05,Urine,Urine midstream,Urinebuis 6.0 ml,NaN

In [121]:
list_of_data_frames[1].head(3)

,studieID,effectiveDateTimeTE_U,issuedTE_U,code_code_originalTE_U,code_display_originalTE_U,hix_codeTE_U,valueQuantity_comparatorTE_U,valueQuantity_valueTE_U,valueQuantity_unitTE_U,valueStringTE_U,commentTE_U,interpretation_displayTE_U,referenceRange_textTE_U,specimen_typeTE_U,specimen_type_textTE_U,container_typeTE_U,sample_noteTE_U
2,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.07,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
94,BRICK_002,2022-06-20 14:58:46,2022-06-20 15:53:17,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.05,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN
142,BRICK_003,2022-06-20 14:47:20,2022-06-20 15:51:28,TE_U,Tot. eiwit in urine,Tot.eiwit,NaN,0.09,g/l,NaN,NaN,Normal,< 0.15,Urine,Urine midstream,Urinebuis 6.0 ml,NaN

In [122]:
list_of_data_frames[1].shape

(45, 17)

So far so good, we have a frame with in the example above the DBIL. We then tried to do a big reduction; but it produced repeaters

In [123]:
semi_final_df = reduce(lambda left,right: pd.merge(left,right, on=['studieID'], how='outer'), list_of_data_frames)

In [124]:
semi_final_df.shape

(48, 561)

In [125]:
semi_final_df.head(5)

,studieID,effectiveDateTimeALB_U,issuedALB_U,code_code_originalALB_U,code_display_originalALB_U,hix_codeALB_U,valueQuantity_comparatorALB_U,valueQuantity_valueALB_U,valueQuantity_unitALB_U,valueStringALB_U,...,valueQuantity_valueTSAT,valueQuantity_unitTSAT,valueStringTSAT,commentTSAT,interpretation_displayTSAT,referenceRange_textTSAT,specimen_typeTSAT,specimen_type_textTSAT,container_typeTSAT,sample_noteTSAT
0,BRICK_001,2022-06-20 15:09:28,2022-06-20 16:04:08,ALB_U,Albumine in urine,M-albu.,NaN,0.008,g/L,NaN,...,12.30,%,NaN,NaN,Low,15-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
1,BRICK_002,2022-06-20 14:58:46,2022-06-20 15:53:17,ALB_U,Albumine in urine,M-albu.,NaN,0.002,g/L,NaN,...,18.80,%,NaN,NaN,Low,20-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
2,BRICK_003,2022-06-20 14:47:20,2022-06-20 15:51:28,ALB_U,Albumine in urine,M-albu.,NaN,0.020,g/L,NaN,...,23.38,%,NaN,NaN,Normal,15-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
3,BRICK_004,2022-07-04 16:06:50,2022-07-04 17:31:42,ALB_U,Albumine in urine,M-albu.,NaN,0.012,g/L,NaN,...,83.11,%,NaN,NaN,High,20-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN
4,BRICK_005,2022-12-14 11:19:56,2022-12-14 12:30:46,ALB_U,Albumine in urine,M-albu.,NaN,0.002,g/L,NaN,...,17.05,%,NaN,NaN,Low,20-45,Bloed,Veneus bloed,Heparinebuis Barricor 3.0 ml 18-,NaN

In [126]:
for studieID in semi_final_df.studieID:
    print(studieID)

BRICK_001
BRICK_002
BRICK_003
BRICK_004
BRICK_005
BRICK_006
BRICK_007
BRICK_008
BRICK_009
BRICK_010
BRICK_011
BRICK_012
BRICK_013
BRICK_014
BRICK_015
BRICK_016
BRICK_017
BRICK_018
BRICK_019
BRICK_021
BRICK_024
BRICK_025
BRICK_026
BRICK_027
BRICK_028
BRICK_029
BRICK_030
BRICK_031
BRICK_032
BRICK_033
BRICK_035
BRICK_037
BRICK_038
BRICK_039
BRICK_040
BRICK_041
BRICK_042
BRICK_044
BRICK_047
BRICK_048
BRICK_049
BRICK_050
BRICK_051
BRICK_052
BRICK_053
BRICK_054
BRICK_056
BRICK_058

In [127]:
# now we need to change the columns names to those expoected by scientist
for  f in semi_final_df.columns:
    print(f)

studieID
effectiveDateTimeALB_U
issuedALB_U
code_code_originalALB_U
code_display_originalALB_U
hix_codeALB_U
valueQuantity_comparatorALB_U
valueQuantity_valueALB_U
valueQuantity_unitALB_U
valueStringALB_U
commentALB_U
interpretation_displayALB_U
referenceRange_textALB_U
specimen_typeALB_U
specimen_type_textALB_U
container_typeALB_U
sample_noteALB_U
effectiveDateTimeTE_U
issuedTE_U
code_code_originalTE_U
code_display_originalTE_U
hix_codeTE_U
valueQuantity_comparatorTE_U
valueQuantity_valueTE_U
valueQuantity_unitTE_U
valueStringTE_U
commentTE_U
interpretation_displayTE_U
referenceRange_textTE_U
specimen_typeTE_U
specimen_type_textTE_U
container_typeTE_U
sample_noteTE_U
effectiveDateTimeTE_U_KR
issuedTE_U_KR
code_code_originalTE_U_KR
code_display_originalTE_U_KR
hix_codeTE_U_KR
valueQuantity_comparatorTE_U_KR
valueQuantity_valueTE_U_KR
valueQuantity_unitTE_U_KR
valueStringTE_U_KR
commentTE_U_KR
interpretation_displayTE_U_KR
referenceRange_textTE_U_KR
specimen_typeTE_U_KR
specimen_type_textTE_U_KR
container_typeTE_U_KR
sample_noteTE_U_KR
effectiveDateTimeALB_U_KR
issuedALB_U_KR
code_code_originalALB_U_KR
code_display_originalALB_U_KR
hix_codeALB_U_KR
valueQuantity_comparatorALB_U_KR
valueQuantity_valueALB_U_KR
valueQuantity_unitALB_U_KR
valueStringALB_U_KR
commentALB_U_KR
interpretation_displayALB_U_KR
referenceRange_textALB_U_KR
specimen_typeALB_U_KR
specimen_type_textALB_U_KR
container_typeALB_U_KR
sample_noteALB_U_KR
effectiveDateTimeKREA_U
issuedKREA_U
code_code_originalKREA_U
code_display_originalKREA_U
hix_codeKREA_U
valueQuantity_comparatorKREA_U
valueQuantity_valueKREA_U
valueQuantity_unitKREA_U
valueStringKREA_U
commentKREA_U
interpretation_displayKREA_U
referenceRange_textKREA_U
specimen_typeKREA_U
specimen_type_textKREA_U
container_typeKREA_U
sample_noteKREA_U
effectiveDateTimeLDH
issuedLDH
code_code_originalLDH
code_display_originalLDH
hix_codeLDH
valueQuantity_comparatorLDH
valueQuantity_valueLDH
valueQuantity_unitLDH
valueStringLDH
commentLDH
interpretation_displayLDH
referenceRange_textLDH
specimen_typeLDH
specimen_type_textLDH
container_typeLDH
sample_noteLDH
effectiveDateTimeSCHWARTZ-Bedsite
issuedSCHWARTZ-Bedsite
code_code_originalSCHWARTZ-Bedsite
code_display_originalSCHWARTZ-Bedsite
hix_codeSCHWARTZ-Bedsite
valueQuantity_comparatorSCHWARTZ-Bedsite
valueQuantity_valueSCHWARTZ-Bedsite
valueQuantity_unitSCHWARTZ-Bedsite
valueStringSCHWARTZ-Bedsite
commentSCHWARTZ-Bedsite
interpretation_displaySCHWARTZ-Bedsite
referenceRange_textSCHWARTZ-Bedsite
specimen_typeSCHWARTZ-Bedsite
specimen_type_textSCHWARTZ-Bedsite
container_typeSCHWARTZ-Bedsite
sample_noteSCHWARTZ-Bedsite
effectiveDateTimeTRAF
issuedTRAF
code_code_originalTRAF
code_display_originalTRAF
hix_codeTRAF
valueQuantity_comparatorTRAF
valueQuantity_valueTRAF
valueQuantity_unitTRAF
valueStringTRAF
commentTRAF
interpretation_displayTRAF
referenceRange_textTRAF
specimen_typeTRAF
specimen_type_textTRAF
container_typeTRAF
sample_noteTRAF
effectiveDateTimeKREA
issuedKREA
code_code_originalKREA
code_display_originalKREA
hix_codeKREA
valueQuantity_comparatorKREA
valueQuantity_valueKREA
valueQuantity_unitKREA
valueStringKREA
commentKREA
interpretation_displayKREA
referenceRange_textKREA
specimen_typeKREA
specimen_type_textKREA
container_typeKREA
sample_noteKREA
effectiveDateTimeCRP
issuedCRP
code_code_originalCRP
code_display_originalCRP
hix_codeCRP
valueQuantity_comparatorCRP
valueQuantity_valueCRP
valueQuantity_unitCRP
valueStringCRP
commentCRP
interpretation_displayCRP
referenceRange_textCRP
specimen_typeCRP
specimen_type_textCRP
container_typeCRP
sample_noteCRP
effectiveDateTimeDBIL
issuedDBIL
code_code_originalDBIL
code_display_originalDBIL
hix_codeDBIL
valueQuantity_comparatorDBIL
valueQuantity_valueDBIL
valueQuantity_unitDBIL
valueStringDBIL
commentDBIL
interpretation_displayDBIL
referenceRange_textDBIL
specimen_typeDBIL
specimen_type_textDBIL
container_typeDBIL
sample_noteDBIL
effectiveDateTimeFERT
issuedFERT
code_code_originalFERT
code_display_originalFERT
hix_codeFERT
valueQuantity_comparatorFERT
valueQuantity_valueFERT
valueQuantity_unitFERT
valueStringFERT
commentFERT
interpretation_displayFERT
referenceRange_textFERT
specimen_typeFERT
specimen_type_textFERT
container_typeFERT
sample_noteFERT
effectiveDateTimeB12
issuedB12
code_code_originalB12
code_display_originalB12
hix_codeB12
valueQuantity_comparatorB12
valueQuantity_valueB12
valueQuantity_unitB12
valueStringB12
commentB12
interpretation_displayB12
referenceRange_textB12
specimen_typeB12
specimen_type_textB12
container_typeB12
sample_noteB12
effectiveDateTimeFOLZ
issuedFOLZ
code_code_originalFOLZ
code_display_originalFOLZ
hix_codeFOLZ
valueQuantity_comparatorFOLZ
valueQuantity_valueFOLZ
valueQuantity_unitFOLZ
valueStringFOLZ
commentFOLZ
interpretation_displayFOLZ
referenceRange_textFOLZ
specimen_typeFOLZ
specimen_type_textFOLZ
container_typeFOLZ
sample_noteFOLZ
effectiveDateTimeK
issuedK
code_code_originalK
code_display_originalK
hix_codeK
valueQuantity_comparatorK
valueQuantity_valueK
valueQuantity_unitK
valueStringK
commentK
interpretation_displayK
referenceRange_textK
specimen_typeK
specimen_type_textK
container_typeK
sample_noteK
effectiveDateTimeNA
issuedNA
code_code_originalNA
code_display_originalNA
hix_codeNA
valueQuantity_comparatorNA
valueQuantity_valueNA
valueQuantity_unitNA
valueStringNA
commentNA
interpretation_displayNA
referenceRange_textNA
specimen_typeNA
specimen_type_textNA
container_typeNA
sample_noteNA
effectiveDateTimeFE
issuedFE
code_code_originalFE
code_display_originalFE
hix_codeFE
valueQuantity_comparatorFE
valueQuantity_valueFE
valueQuantity_unitFE
valueStringFE
commentFE
interpretation_displayFE
referenceRange_textFE
specimen_typeFE
specimen_type_textFE
container_typeFE
sample_noteFE
effectiveDateTimeUREU
issuedUREU
code_code_originalUREU
code_display_originalUREU
hix_codeUREU
valueQuantity_comparatorUREU
valueQuantity_valueUREU
valueQuantity_unitUREU
valueStringUREU
commentUREU
interpretation_displayUREU
referenceRange_textUREU
specimen_typeUREU
specimen_type_textUREU
container_typeUREU
sample_noteUREU
effectiveDateTimeTBIL
issuedTBIL
code_code_originalTBIL
code_display_originalTBIL
hix_codeTBIL
valueQuantity_comparatorTBIL
valueQuantity_valueTBIL
valueQuantity_unitTBIL
valueStringTBIL
commentTBIL
interpretation_displayTBIL
referenceRange_textTBIL
specimen_typeTBIL
specimen_type_textTBIL
container_typeTBIL
sample_noteTBIL
effectiveDateTimeAFOS
issuedAFOS
code_code_originalAFOS
code_display_originalAFOS
hix_codeAFOS
valueQuantity_comparatorAFOS
valueQuantity_valueAFOS
valueQuantity_unitAFOS
valueStringAFOS
commentAFOS
interpretation_displayAFOS
referenceRange_textAFOS
specimen_typeAFOS
specimen_type_textAFOS
container_typeAFOS
sample_noteAFOS
effectiveDateTimeGGT
issuedGGT
code_code_originalGGT
code_display_originalGGT
hix_codeGGT
valueQuantity_comparatorGGT
valueQuantity_valueGGT
valueQuantity_unitGGT
valueStringGGT
commentGGT
interpretation_displayGGT
referenceRange_textGGT
specimen_typeGGT
specimen_type_textGGT
container_typeGGT
sample_noteGGT
effectiveDateTimeASAT
issuedASAT
code_code_originalASAT
code_display_originalASAT
hix_codeASAT
valueQuantity_comparatorASAT
valueQuantity_valueASAT
valueQuantity_unitASAT
valueStringASAT
commentASAT
interpretation_displayASAT
referenceRange_textASAT
specimen_typeASAT
specimen_type_textASAT
container_typeASAT
sample_noteASAT
effectiveDateTimeALAT
issuedALAT
code_code_originalALAT
code_display_originalALAT
hix_codeALAT
valueQuantity_comparatorALAT
valueQuantity_valueALAT
valueQuantity_unitALAT
valueStringALAT
commentALAT
interpretation_displayALAT
referenceRange_textALAT
specimen_typeALAT
specimen_type_textALAT
container_typeALAT
sample_noteALAT
effectiveDateTimeVITD
issuedVITD
code_code_originalVITD
code_display_originalVITD
hix_codeVITD
valueQuantity_comparatorVITD
valueQuantity_valueVITD
valueQuantity_unitVITD
valueStringVITD
commentVITD
interpretation_displayVITD
referenceRange_textVITD
specimen_typeVITD
specimen_type_textVITD
container_typeVITD
sample_noteVITD
effectiveDateTimeMCV
issuedMCV
code_code_originalMCV
code_display_originalMCV
hix_codeMCV
valueQuantity_comparatorMCV
valueQuantity_valueMCV
valueQuantity_unitMCV
valueStringMCV
commentMCV
interpretation_displayMCV
referenceRange_textMCV
specimen_typeMCV
specimen_type_textMCV
container_typeMCV
sample_noteMCV
effectiveDateTimeRDW
issuedRDW
code_code_originalRDW
code_display_originalRDW
hix_codeRDW
valueQuantity_comparatorRDW
valueQuantity_valueRDW
valueQuantity_unitRDW
valueStringRDW
commentRDW
interpretation_displayRDW
referenceRange_textRDW
specimen_typeRDW
specimen_type_textRDW
container_typeRDW
sample_noteRDW
effectiveDateTimeGRAT
issuedGRAT
code_code_originalGRAT
code_display_originalGRAT
hix_codeGRAT
valueQuantity_comparatorGRAT
valueQuantity_valueGRAT
valueQuantity_unitGRAT
valueStringGRAT
commentGRAT
interpretation_displayGRAT
referenceRange_textGRAT
specimen_typeGRAT
specimen_type_textGRAT
container_typeGRAT
sample_noteGRAT
effectiveDateTimeHB
issuedHB
code_code_originalHB
code_display_originalHB
hix_codeHB
valueQuantity_comparatorHB
valueQuantity_valueHB
valueQuantity_unitHB
valueStringHB
commentHB
interpretation_displayHB
referenceRange_textHB
specimen_typeHB
specimen_type_textHB
container_typeHB
sample_noteHB
effectiveDateTimeHT
issuedHT
code_code_originalHT
code_display_originalHT
hix_codeHT
valueQuantity_comparatorHT
valueQuantity_valueHT
valueQuantity_unitHT
valueStringHT
commentHT
interpretation_displayHT
referenceRange_textHT
specimen_typeHT
specimen_type_textHT
container_typeHT
sample_noteHT
effectiveDateTimeLEU
issuedLEU
code_code_originalLEU
code_display_originalLEU
hix_codeLEU
valueQuantity_comparatorLEU
valueQuantity_valueLEU
valueQuantity_unitLEU
valueStringLEU
commentLEU
interpretation_displayLEU
referenceRange_textLEU
specimen_typeLEU
specimen_type_textLEU
container_typeLEU
sample_noteLEU
effectiveDateTimeERY
issuedERY
code_code_originalERY
code_display_originalERY
hix_codeERY
valueQuantity_comparatorERY
valueQuantity_valueERY
valueQuantity_unitERY
valueStringERY
commentERY
interpretation_displayERY
referenceRange_textERY
specimen_typeERY
specimen_type_textERY
container_typeERY
sample_noteERY
effectiveDateTimeTROMBO
issuedTROMBO
code_code_originalTROMBO
code_display_originalTROMBO
hix_codeTROMBO
valueQuantity_comparatorTROMBO
valueQuantity_valueTROMBO
valueQuantity_unitTROMBO
valueStringTROMBO
commentTROMBO
interpretation_displayTROMBO
referenceRange_textTROMBO
specimen_typeTROMBO
specimen_type_textTROMBO
container_typeTROMBO
sample_noteTROMBO
effectiveDateTimeRETI
issuedRETI
code_code_originalRETI
code_display_originalRETI
hix_codeRETI
valueQuantity_comparatorRETI
valueQuantity_valueRETI
valueQuantity_unitRETI
valueStringRETI
commentRETI
interpretation_displayRETI
referenceRange_textRETI
specimen_typeRETI
specimen_type_textRETI
container_typeRETI
sample_noteRETI
effectiveDateTimeNRCA
issuedNRCA
code_code_originalNRCA
code_display_originalNRCA
hix_codeNRCA
valueQuantity_comparatorNRCA
valueQuantity_valueNRCA
valueQuantity_unitNRCA
valueStringNRCA
commentNRCA
interpretation_displayNRCA
referenceRange_textNRCA
specimen_typeNRCA
specimen_type_textNRCA
container_typeNRCA
sample_noteNRCA
effectiveDateTimeTSAT
issuedTSAT
code_code_originalTSAT
code_display_originalTSAT
hix_codeTSAT
valueQuantity_comparatorTSAT
valueQuantity_valueTSAT
valueQuantity_unitTSAT
valueStringTSAT
commentTSAT
interpretation_displayTSAT
referenceRange_textTSAT
specimen_typeTSAT
specimen_type_textTSAT
container_typeTSAT
sample_noteTSAT

In [128]:
list_keepable_amended_with_id = ["valueQuantity_value" + code for code in list_keepable_amended]
# [code + "0" for code in codes]
list_keepable_amended_with_id = list_keepable_amended_with_id + ['studieID']
list_keepable_amended_with_id

['valueQuantity_valueCRP',
 'valueQuantity_valueFERT',
 'valueQuantity_valueTROMBO',
 'valueQuantity_valueMCV',
 'valueQuantity_valueK',
 'valueQuantity_valueFOLZ',
 'valueQuantity_valueHB',
 'valueQuantity_valueHT',
 'valueQuantity_valueUREU',
 'valueQuantity_valueVITD',
 'valueQuantity_valueGGT',
 'valueQuantity_valueALB_U',
 'valueQuantity_valueSCHWARTZ-Bedsite',
 'valueQuantity_valueASAT',
 'valueQuantity_valueERY',
 'valueQuantity_valueTBIL',
 'valueQuantity_valueDBIL',
 'valueQuantity_valueTE_U',
 'valueQuantity_valueTRAF',
 'valueQuantity_valueAFOS',
 'valueQuantity_valueNA',
 'valueQuantity_valueGRAT',
 'valueQuantity_valueLDH',
 'valueQuantity_valueFE',
 'valueQuantity_valueALB_U_KR',
 'valueQuantity_valueB12',
 'valueQuantity_valueLEU',
 'valueQuantity_valueRETI',
 'valueQuantity_valueTSAT',
 'valueQuantity_valueKREA_U',
 'valueQuantity_valueALAT',
 'valueQuantity_valueKREA',
 'valueQuantity_valueTE_U_KR',
 'valueQuantity_valueNRCA',
 'valueQuantity_valueRDW',
 'studieID']

In [129]:
final_amend = ['studieID',
               'valueQuantity_valueCRP',
                 'valueQuantity_valueFERT',
                 'valueQuantity_valueTROMBO',
                 'valueQuantity_valueMCV',
                 'valueQuantity_valueK',
                 'valueQuantity_valueFOLZ',
                 'valueQuantity_valueHB',
                 'valueQuantity_valueHT',
                 'valueQuantity_valueUREU',
                 'valueQuantity_valueVITD',
                 'valueQuantity_valueGGT',
                 'valueQuantity_valueALB_U',
                 'valueQuantity_valueSCHWARTZ-Bedsite',
                 'valueQuantity_valueASAT',
                 'valueQuantity_valueERY',
                 'valueQuantity_valueTBIL',
                 'valueQuantity_valueDBIL',
                 'valueQuantity_valueTE_U',
                 'valueQuantity_valueTRAF',
                 'valueQuantity_valueAFOS',
                 'valueQuantity_valueNA',
                 'valueQuantity_valueGRAT',
                 'valueQuantity_valueLDH',
                 'valueQuantity_valueFE',
                 'valueQuantity_valueALB_U_KR',
                 'valueQuantity_valueB12',
                 'valueQuantity_valueLEU',
                 'valueQuantity_valueRETI',
                 'valueQuantity_valueTSAT',
                 'valueQuantity_valueKREA_U',
                 'valueQuantity_valueALAT',
                 'valueQuantity_valueKREA',
                 'valueQuantity_valueTE_U_KR',
                 'valueQuantity_valueNRCA',
                 'valueQuantity_valueRDW', ]

In [130]:
filtered = semi_final_df[final_amend]
filtered

,studieID,valueQuantity_valueCRP,valueQuantity_valueFERT,valueQuantity_valueTROMBO,valueQuantity_valueMCV,valueQuantity_valueK,valueQuantity_valueFOLZ,valueQuantity_valueHB,valueQuantity_valueHT,valueQuantity_valueUREU,...,valueQuantity_valueB12,valueQuantity_valueLEU,valueQuantity_valueRETI,valueQuantity_valueTSAT,valueQuantity_valueKREA_U,valueQuantity_valueALAT,valueQuantity_valueKREA,valueQuantity_valueTE_U_KR,valueQuantity_valueNRCA,valueQuantity_valueRDW
0,BRICK_001,0.8,36.1,561.0,81.0,4.5,5.97,4.4,0.21,2.1,...,307.0,10.1,370.6,12.30,6.0,53.0,41.0,11.67,NaN,24.2
1,BRICK_002,0.8,76.8,168.0,71.0,4.7,38.10,7.6,0.33,2.7,...,543.0,4.4,117.8,18.80,7.6,30.0,63.0,6.58,NaN,14.8
2,BRICK_003,0.6,36.9,417.0,83.0,4.1,45.39,4.4,0.20,3.3,...,322.0,8.8,227.1,23.38,7.5,40.0,43.0,12.00,NaN,16.6
3,BRICK_004,11.0,559.0,181.0,119.0,4.5,45.39,4.1,0.18,5.2,...,373.0,6.2,103.7,83.11,6.6,15.0,43.0,13.64,NaN,15.3
4,BRICK_005,5.2,74.9,140.0,66.0,3.8,20.80,6.2,0.29,3.0,...,362.0,5.2,119.2,17.05,8.9,63.0,40.0,12.36,NaN,16.5
5,BRICK_006,2.2,74.7,407.0,52.0,4.0,18.80,7.2,0.34,3.0,...,455.0,5.9,126.9,15.14,5.8,35.0,52.0,10.34,NaN,18.9
6,BRICK_007,2.2,152.0,279.0,116.0,4.4,19.10,6.4,0.29,4.8,...,1218.0,3.3,62.7,24.94,4.3,21.0,58.0,6.98,NaN,15.4
7,BRICK_008,2.6,112.0,122.0,71.0,4.0,26.10,8.3,0.37,3.9,...,279.0,4.6,162.1,19.25,NaN,27.0,84.0,NaN,NaN,19.1
8,BRICK_009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.3,NaN,NaN,15.05,NaN,NaN
9,BRICK_010,8.7,147.0,422.0,80.0,4.2,8.44,4.1,0.18,2.6,...,229.0,17.6,322.3,17.33,NaN,38.0,27.0,NaN,NaN,23.1
10,BRICK_011,1.6,51.4,695.0,105.0,4.2,11.10,6.8,0.30,2.8,...,234.0,7.0,127.1,32.39,9.5,17.0,56.0,8.42,NaN,15.2
11,BRICK_012,NaN,43.9,160.0,119.0,4.1,42.70,5.0,0.23,4.1,...,310.0,4.0,237.7,NaN,6.2,20.0,39.0,16.13,NaN,16.6
12,BRICK_013,0.6,165.0,196.0,99.0,4.1,18.00,4.5,0.21,3.0,...,174.0,7.0,101.6,27.78,3.4,20.0,31.0,14.71,NaN,19.4
13,BRICK_014,0.7,79.5,116.0,102.0,4.1,20.00,5.3,0.26,1.6,...,234.0,4.6,130.0,27.91,9.4,13.0,49.0,10.64,NaN,21.0
14,BRICK_015,3.1,160.0,216.0,78.0,3.5,8.05,5.7,0.28,2.5,...,281.0,14.9,306.6,36.10,23.4,25.0,57.0,29.91,NaN,23.1
15,BRICK_016,0.6,166.0,302.0,74.0,4.2,9.05,7.2,0.32,3.5,...,338.0,5.8,133.2,22.16,10.2,11.0,51.0,11.76,NaN,13.8
16,BRICK_017,0.7,65.6,211.0,71.0,4.4,7.82,6.7,0.30,2.8,...,309.0,3.3,158.0,25.13,8.8,9.0,49.0,13.64,NaN,19.0
17,BRICK_018,0.6,97.4,253.0,70.0,6.5,20.20,7.3,0.33,2.7,...,330.0,6.1,164.9,17.10,7.4,21.0,44.0,13.51,NaN,14.8
18,BRICK_019,0.6,114.0,127.0,70.0,4.2,18.20,7.5,0.34,4.4,...,967.0,5.4,128.8,24.98,5.4,14.0,69.0,11.11,NaN,16.0
19,BRICK_021,4.9,194.0,104.0,82.0,4.2,44.00,4.4,0.22,2.4,...,485.0,6.9,381.9,48.68,4.5,7.0,36.0,13.33,NaN,19.7
20,BRICK_024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.4,NaN,NaN,18.75,NaN,NaN
21,BRICK_025,7.2,112.0,502.0,102.0,4.3,12.50,6.4,0.28,2.9,...,208.0,5.5,174.1,62.41,15.0,35.0,53.0,9.33,NaN,18.8
22,BRICK_026,5.4,71.1,270.0,86.0,4.1,45.39,5.3,0.25,3.9,...,201.0,13.2,330.6,30.75,6.9,17.0,35.0,17.39,NaN,19.8
23,BRICK_027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.4,NaN,NaN,16.22,NaN,NaN
24,BRICK_028,0.6,NaN,224.0,68.0,4.2,21.00,6.9,0.31,3.3,...,408.0,5.9,93.9,19.51,6.0,9.0,69.0,8.33,NaN,15.3
25,BRICK_029,0.8,46.6,428.0,81.0,4.7,16.20,4.3,0.19,2.1,...,235.0,8.8,362.4,13.36,7.8,21.0,48.0,14.10,NaN,23.3
26,BRICK_030,1.9,110.0,410.0,94.0,4.0,9.69,4.3,0.19,2.0,...,305.0,12.6,420.8,26.98,5.8,28.0,37.0,13.79,NaN,21.4
27,BRICK_031,0.6,51.4,133.0,75.0,4.2,23.10,7.5,0.33,2.7,...,199.0,4.7,99.8,24.57,9.1,18.0,68.0,8.79,NaN,14.6
28,BRICK_032,7.9,1012.0,631.0,74.0,4.4,10.80,5.8,0.27,4.1,...,310.0,13.2,960.9,23.39,5.0,21.0,35.0,14.00,3.67,23.9
29,BRICK_033,1.5,205.0,593.0,80.0,4.3,16.30,5.6,0.27,2.5,...,248.0,5.4,370.3,22.35,4.2,18.0,28.0,11.90,NaN,23.5
30,BRICK_035,1.9,472.0,314.0,120.0,4.2,24.50,7.0,0.32,3.2,...,204.0,4.3,105.6,76.72,8.7,14.0,61.0,18.39,3.11,16.4
31,BRICK_037,13.0,59.1,262.0,70.0,3.8,33.20,6.1,0.28,2.3,...,244.0,10.7,94.9,11.60,13.7,11.0,47.0,5.84,NaN,17.2
32,BRICK_038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.3,NaN,NaN,46.51,NaN,NaN
33,BRICK_039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.9,NaN,NaN,16.46,NaN,NaN
34,BRICK_040,3.0,549.0,486.0,79.0,4.0,14.60,7.5,0.34,3.3,...,509.0,11.0,99.8,28.57,7.9,21.0,34.0,12.66,NaN,16.8
35,BRICK_041,2.2,87.5,453.0,88.0,4.0,19.50,5.4,0.25,1.5,...,145.0,7.9,177.4,31.75,6.8,14.0,31.0,14.71,NaN,18.0
36,BRICK_042,3.9,38.1,203.0,71.0,4.1,12.10,6.5,0.30,2.6,...,303.0,6.2,178.1,19.99,5.6,21.0,26.0,16.07,NaN,17.0
37,BRICK_044,4.3,278.0,362.0,92.0,3.9,13.80,4.2,0.20,1.6,...,345.0,9.5,459.6,19.84,5.4,21.0,25.0,20.37,NaN,22.1
38,BRICK_047,0.6,33.5,294.0,68.0,4.4,12.00,8.1,0.39,2.7,...,344.0,8.1,80.2,20.88,13.5,16.0,62.0,5.93,NaN,14.0
39,BRICK_048,0.6,29.9,236.0,78.0,4.4,11.90,9.0,0.41,3.1,...,307.0,8.4,97.7,15.74,11.4,30.0,55.0,4.39,NaN,14.2
40,BRICK_049,0.6,42.1,340.0,68.0,4.4,10.60,8.9,0.42,3.0,...,397.0,7.1,100.9,25.34,7.1,18.0,54.0,5.63,NaN,14.6
41,BRICK_050,2.0,25.5,487.0,73.0,4.7,7.69,4.8,0.23,3.0,...,506.0,9.5,303.5,13.23,5.3,25.0,50.0,20.75,NaN,22.3
42,BRICK_051,0.6,311.0,541.0,99.0,4.2,15.70,5.6,0.25,3.3,...,403.0,11.0,436.7,43.65,6.9,27.0,44.0,11.59,NaN,15.4
43,BRICK_052,0.6,115.0,133.0,106.0,4.2,23.60,6.2,0.27,2.7,...,186.0,6.0,227.2,39.68,4.0,12.0,46.0,7.50,NaN,18.6
44,BRICK_053,4.2,86.4,380.0,86.0,4.6,19.10,5.8,0.27,2.7,...,215.0,8.9,190.0,13.61,NaN,31.0,36.0,NaN,NaN,18.8
45,BRICK_054,0.6,83.3,574.0,95.0,4.5,11.60,5.7,0.25,3.2,...,355.0,11.7,289.0,37.88,3.7,17.0,42.0,13.51,NaN,16.5
46,BRICK_056,4.2,178.0,336.0,79.0,4.3,28.90,5.7,0.26,3.1,...,253.0,14.6,347.2,23.96,6.7,28.0,44.0,13.43,NaN,17.6
47,BRICK_058,0.6,129.0,545.0,75.0,4.6,29.20,5.9,0.28,3.3,...,451.0,6.0,304.1,42.89,6.2,16.0,62.0,9.68,2.07,23.2

In [133]:
columns_dictionary = {'studieID':'Participant ID',
                      'valueQuantity_valueCRP':'CRP0',  
                      'valueQuantity_valueFERT':'FERT0',
                      'valueQuantity_valueTROMBO':'TROMBO0',
                      'valueQuantity_valueMCV':'MCV0',
                      'valueQuantity_valueK':'K0',
                      'valueQuantity_valueFOLZ':'FOLZ0',
                      'valueQuantity_valueHB':'HB0',  
                      'valueQuantity_valueHT':'HT0',
                      'valueQuantity_valueUREU':'UREU0',  
                      'valueQuantity_valueVITD':'VITD0',
                      'valueQuantity_valueGGT':'GGT0',  
                      'valueQuantity_valueALB_U':'ALB_U0',
                      'valueQuantity_valueSCHWARTZ-Bedsite':'SCHWARTZ-Bedsite0',  
                      'valueQuantity_valueASAT':'ASAT0',
                      'valueQuantity_valueERY':'ERY0',  
                      'valueQuantity_valueTBIL':'TBIL0',
                      'valueQuantity_valueDBIL':'DBIL0',  
                      'valueQuantity_valueTE_U':'TE_U0',
                      'valueQuantity_valueTRAF':'TRAF0',  
                      'valueQuantity_valueNA':'NA0',
                      'valueQuantity_valueAFOS':'AFOS0',
                      'valueQuantity_valueGRAT':'GRAT0',  
                      'valueQuantity_valueLDH':'LDH0',
                      'valueQuantity_valueFE':'FE0',  
                      'valueQuantity_valueALB_U_KR':'ALB_U_KR0',
                      'valueQuantity_valueB12':'B120',  
                      'valueQuantity_valueLEU':'LEU0',
                      'valueQuantity_valueRETI':'RETI0',  
                      'valueQuantity_valueTSAT':'TSAT0',
                      'valueQuantity_valueKREA_U':'KREA_U0',  
                      'valueQuantity_valueALAT':'ALAT0',
                      'valueQuantity_valueKREA':'KREA0',  
                      'valueQuantity_valueTE_U_KR':'TE_U_KR0',
                      'valueQuantity_valueNRCA':'NRCA0',  
                      'valueQuantity_valueRDW':'RDW0'}
filtered = filtered.rename(columns = columns_dictionary)
filtered

,Participant ID,CRP0,FERT0,TROMBO0,MCV0,K0,FOLZ0,HB0,HT0,UREU0,...,B120,LEU0,RETI0,TSAT0,KREA_U0,ALAT0,KREA0,TE_U_KR0,NRCA0,RDW0
0,BRICK_001,0.8,36.1,561.0,81.0,4.5,5.97,4.4,0.21,2.1,...,307.0,10.1,370.6,12.30,6.0,53.0,41.0,11.67,NaN,24.2
1,BRICK_002,0.8,76.8,168.0,71.0,4.7,38.10,7.6,0.33,2.7,...,543.0,4.4,117.8,18.80,7.6,30.0,63.0,6.58,NaN,14.8
2,BRICK_003,0.6,36.9,417.0,83.0,4.1,45.39,4.4,0.20,3.3,...,322.0,8.8,227.1,23.38,7.5,40.0,43.0,12.00,NaN,16.6
3,BRICK_004,11.0,559.0,181.0,119.0,4.5,45.39,4.1,0.18,5.2,...,373.0,6.2,103.7,83.11,6.6,15.0,43.0,13.64,NaN,15.3
4,BRICK_005,5.2,74.9,140.0,66.0,3.8,20.80,6.2,0.29,3.0,...,362.0,5.2,119.2,17.05,8.9,63.0,40.0,12.36,NaN,16.5
5,BRICK_006,2.2,74.7,407.0,52.0,4.0,18.80,7.2,0.34,3.0,...,455.0,5.9,126.9,15.14,5.8,35.0,52.0,10.34,NaN,18.9
6,BRICK_007,2.2,152.0,279.0,116.0,4.4,19.10,6.4,0.29,4.8,...,1218.0,3.3,62.7,24.94,4.3,21.0,58.0,6.98,NaN,15.4
7,BRICK_008,2.6,112.0,122.0,71.0,4.0,26.10,8.3,0.37,3.9,...,279.0,4.6,162.1,19.25,NaN,27.0,84.0,NaN,NaN,19.1
8,BRICK_009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.3,NaN,NaN,15.05,NaN,NaN
9,BRICK_010,8.7,147.0,422.0,80.0,4.2,8.44,4.1,0.18,2.6,...,229.0,17.6,322.3,17.33,NaN,38.0,27.0,NaN,NaN,23.1
10,BRICK_011,1.6,51.4,695.0,105.0,4.2,11.10,6.8,0.30,2.8,...,234.0,7.0,127.1,32.39,9.5,17.0,56.0,8.42,NaN,15.2
11,BRICK_012,NaN,43.9,160.0,119.0,4.1,42.70,5.0,0.23,4.1,...,310.0,4.0,237.7,NaN,6.2,20.0,39.0,16.13,NaN,16.6
12,BRICK_013,0.6,165.0,196.0,99.0,4.1,18.00,4.5,0.21,3.0,...,174.0,7.0,101.6,27.78,3.4,20.0,31.0,14.71,NaN,19.4
13,BRICK_014,0.7,79.5,116.0,102.0,4.1,20.00,5.3,0.26,1.6,...,234.0,4.6,130.0,27.91,9.4,13.0,49.0,10.64,NaN,21.0
14,BRICK_015,3.1,160.0,216.0,78.0,3.5,8.05,5.7,0.28,2.5,...,281.0,14.9,306.6,36.10,23.4,25.0,57.0,29.91,NaN,23.1
15,BRICK_016,0.6,166.0,302.0,74.0,4.2,9.05,7.2,0.32,3.5,...,338.0,5.8,133.2,22.16,10.2,11.0,51.0,11.76,NaN,13.8
16,BRICK_017,0.7,65.6,211.0,71.0,4.4,7.82,6.7,0.30,2.8,...,309.0,3.3,158.0,25.13,8.8,9.0,49.0,13.64,NaN,19.0
17,BRICK_018,0.6,97.4,253.0,70.0,6.5,20.20,7.3,0.33,2.7,...,330.0,6.1,164.9,17.10,7.4,21.0,44.0,13.51,NaN,14.8
18,BRICK_019,0.6,114.0,127.0,70.0,4.2,18.20,7.5,0.34,4.4,...,967.0,5.4,128.8,24.98,5.4,14.0,69.0,11.11,NaN,16.0
19,BRICK_021,4.9,194.0,104.0,82.0,4.2,44.00,4.4,0.22,2.4,...,485.0,6.9,381.9,48.68,4.5,7.0,36.0,13.33,NaN,19.7
20,BRICK_024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.4,NaN,NaN,18.75,NaN,NaN
21,BRICK_025,7.2,112.0,502.0,102.0,4.3,12.50,6.4,0.28,2.9,...,208.0,5.5,174.1,62.41,15.0,35.0,53.0,9.33,NaN,18.8
22,BRICK_026,5.4,71.1,270.0,86.0,4.1,45.39,5.3,0.25,3.9,...,201.0,13.2,330.6,30.75,6.9,17.0,35.0,17.39,NaN,19.8
23,BRICK_027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.4,NaN,NaN,16.22,NaN,NaN
24,BRICK_028,0.6,NaN,224.0,68.0,4.2,21.00,6.9,0.31,3.3,...,408.0,5.9,93.9,19.51,6.0,9.0,69.0,8.33,NaN,15.3
25,BRICK_029,0.8,46.6,428.0,81.0,4.7,16.20,4.3,0.19,2.1,...,235.0,8.8,362.4,13.36,7.8,21.0,48.0,14.10,NaN,23.3
26,BRICK_030,1.9,110.0,410.0,94.0,4.0,9.69,4.3,0.19,2.0,...,305.0,12.6,420.8,26.98,5.8,28.0,37.0,13.79,NaN,21.4
27,BRICK_031,0.6,51.4,133.0,75.0,4.2,23.10,7.5,0.33,2.7,...,199.0,4.7,99.8,24.57,9.1,18.0,68.0,8.79,NaN,14.6
28,BRICK_032,7.9,1012.0,631.0,74.0,4.4,10.80,5.8,0.27,4.1,...,310.0,13.2,960.9,23.39,5.0,21.0,35.0,14.00,3.67,23.9
29,BRICK_033,1.5,205.0,593.0,80.0,4.3,16.30,5.6,0.27,2.5,...,248.0,5.4,370.3,22.35,4.2,18.0,28.0,11.90,NaN,23.5
30,BRICK_035,1.9,472.0,314.0,120.0,4.2,24.50,7.0,0.32,3.2,...,204.0,4.3,105.6,76.72,8.7,14.0,61.0,18.39,3.11,16.4
31,BRICK_037,13.0,59.1,262.0,70.0,3.8,33.20,6.1,0.28,2.3,...,244.0,10.7,94.9,11.60,13.7,11.0,47.0,5.84,NaN,17.2
32,BRICK_038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.3,NaN,NaN,46.51,NaN,NaN
33,BRICK_039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.9,NaN,NaN,16.46,NaN,NaN
34,BRICK_040,3.0,549.0,486.0,79.0,4.0,14.60,7.5,0.34,3.3,...,509.0,11.0,99.8,28.57,7.9,21.0,34.0,12.66,NaN,16.8
35,BRICK_041,2.2,87.5,453.0,88.0,4.0,19.50,5.4,0.25,1.5,...,145.0,7.9,177.4,31.75,6.8,14.0,31.0,14.71,NaN,18.0
36,BRICK_042,3.9,38.1,203.0,71.0,4.1,12.10,6.5,0.30,2.6,...,303.0,6.2,178.1,19.99,5.6,21.0,26.0,16.07,NaN,17.0
37,BRICK_044,4.3,278.0,362.0,92.0,3.9,13.80,4.2,0.20,1.6,...,345.0,9.5,459.6,19.84,5.4,21.0,25.0,20.37,NaN,22.1
38,BRICK_047,0.6,33.5,294.0,68.0,4.4,12.00,8.1,0.39,2.7,...,344.0,8.1,80.2,20.88,13.5,16.0,62.0,5.93,NaN,14.0
39,BRICK_048,0.6,29.9,236.0,78.0,4.4,11.90,9.0,0.41,3.1,...,307.0,8.4,97.7,15.74,11.4,30.0,55.0,4.39,NaN,14.2
40,BRICK_049,0.6,42.1,340.0,68.0,4.4,10.60,8.9,0.42,3.0,...,397.0,7.1,100.9,25.34,7.1,18.0,54.0,5.63,NaN,14.6
41,BRICK_050,2.0,25.5,487.0,73.0,4.7,7.69,4.8,0.23,3.0,...,506.0,9.5,303.5,13.23,5.3,25.0,50.0,20.75,NaN,22.3
42,BRICK_051,0.6,311.0,541.0,99.0,4.2,15.70,5.6,0.25,3.3,...,403.0,11.0,436.7,43.65,6.9,27.0,44.0,11.59,NaN,15.4
43,BRICK_052,0.6,115.0,133.0,106.0,4.2,23.60,6.2,0.27,2.7,...,186.0,6.0,227.2,39.68,4.0,12.0,46.0,7.50,NaN,18.6
44,BRICK_053,4.2,86.4,380.0,86.0,4.6,19.10,5.8,0.27,2.7,...,215.0,8.9,190.0,13.61,NaN,31.0,36.0,NaN,NaN,18.8
45,BRICK_054,0.6,83.3,574.0,95.0,4.5,11.60,5.7,0.25,3.2,...,355.0,11.7,289.0,37.88,3.7,17.0,42.0,13.51,NaN,16.5
46,BRICK_056,4.2,178.0,336.0,79.0,4.3,28.90,5.7,0.26,3.1,...,253.0,14.6,347.2,23.96,6.7,28.0,44.0,13.43,NaN,17.6
47,BRICK_058,0.6,129.0,545.0,75.0,4.6,29.20,5.9,0.28,3.3,...,451.0,6.0,304.1,42.89,6.2,16.0,62.0,9.68,2.07,23.2

In [134]:
filtered.columns

Index(['Participant ID', 'CRP0', 'FERT0', 'TROMBO0', 'MCV0', 'K0', 'FOLZ0',
       'HB0', 'HT0', 'UREU0', 'VITD0', 'GGT0', 'ALB_U0', 'SCHWARTZ-Bedsite0',
       'ASAT0', 'ERY0', 'TBIL0', 'DBIL0', 'TE_U0', 'TRAF0', 'AFOS0', 'NA0',
       'GRAT0', 'LDH0', 'FE0', 'ALB_U_KR0', 'B120', 'LEU0', 'RETI0', 'TSAT0',
       'KREA_U0', 'ALAT0', 'KREA0', 'TE_U_KR0', 'NRCA0', 'RDW0'],
      dtype='object')

In [135]:
filtered['Participant Status']= 'Enrolled'

In [136]:
filtered['Site Abbreviation'] = 'ERA'

No idea where to get Participant Creation Date from ...it isn'tteh same as lab date, so let's leave it out.

In [137]:
filtered.shape

(48, 38)

In [138]:
filtered.to_csv('../../secret_data/castor_with_salt_baseline_labs.csv')