In [1]:
import os
import sys
from functools import reduce
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets

sys.path.insert(0, '../../')
from brickstudy import foundation

In [2]:
additional_labs = pd.read_csv('Z:/Aida_experiment/Transform_labs/Invuloefening_resterende_labT015082024.csv', sep=",")
additional_labs.head(4)

,Participant Id,Participant Status,Site Abbreviation,Participant Creation Date,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,blood_urine_t0_samedate,BRICK_biobank_ID,ERY0,HB0,...,ASAT0,AFOS0,GGT0,CRP0,KREA_U0,TE_U0,TE_U_KR0,ALB_U0,ALB_U_KR0,B120
0,BRICK_007,Enrolled,ERA,12-04-2024 11:41:27,11/7/2022,11/7/2022,Yes,NaN,2.35,6.4,...,22.0,93.0,23.0,2.2,4.3,0.03,7,<0.002,0.47,1218.0
1,BRICK_009,Enrolled,ERA,12-04-2024 11:41:45,18-07-2022,12/9/2022,No,NaN,NaN,6.3,...,39.0,NaN,17.0,116.0,9.3,0.14,15,0.003,0.32,NaN
2,BRICK_020,Enrolled,ERA,12-04-2024 11:43:09,18-07-2023,17-07-2023,No,NaN,NaN,7.6,...,42.0,101.0,70.0,1.8,9.0,0.05,6,0.002,0.22,178.0
3,BRICK_021,Enrolled,ERA,12-04-2024 11:43:19,29-06-2023,29-06-2023,Yes,NaN,NaN,4.4,...,51.0,258.0,10.0,4.9,4.5,0.06,13,0.003,0.67,485.0

In [ ]:
# change effective date-time --> dd-mm-yyyy

on albumin <0.002, == 0.002

In [3]:
len(additional_labs)

7

In [4]:
additional_labs.columns

Index(['Participant Id', 'Participant Status', 'Site Abbreviation',
       'Participant Creation Date', 'effectiveDateTime_blood_lab0',
       'effectiveDateTime_urine_lab0', 'blood_urine_t0_samedate',
       'BRICK_biobank_ID', 'ERY0', 'HB0', 'MCV0', 'HT0', 'RDW0', 'RETI0',
       'LEU0', 'TROMBO0', 'FE0', 'FERT0', 'TRAF0', 'TSAT0', 'ALAT0', 'LDH0',
       'TBIL0', 'DBIL0', 'KREA0', 'SCHWARTZ_Bedsite0', 'NRCA0', 'GRAT0',
       'FOLZ0', 'UREU0', 'NA0', 'K00', 'VITD0', 'ASAT0', 'AFOS0', 'GGT0',
       'CRP0', 'KREA_U0', 'TE_U0', 'TE_U_KR0', 'ALB_U0', 'ALB_U_KR0', 'B120'],
      dtype='object')

In [5]:
additonal_labs_set = set(additional_labs.columns)

In [6]:
our_done_labs= pd.read_csv('../../secret_data/castor_with_salt_first_measurement_moment_labsvconcaty.csv',index_col=0 )
our_done_labs.head(3)

,Participant ID,Participant Status,Site Abbreviation,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,CRP0,FERT0,TROMBO0,MCV0,K00,...,LEU0,RETI0,TSAT0,KREA_U0,ALAT0,KREA0,TE_U_KR0,NRCA,RDW0,blood_urine_t0_samedate
0,BRICK_001,Enrolled,ERA,20-06-2022,20-06-2022,0.8,36.1,561.0,81.0,4.5,...,10.1,370.6,12.30,6.0,53.0,41.0,11.67,NaN,24.2,Yes
1,BRICK_002,Enrolled,ERA,20-06-2022,20-06-2022,0.8,76.8,168.0,71.0,4.7,...,4.4,117.8,18.80,7.6,30.0,63.0,6.58,NaN,14.8,Yes
2,BRICK_003,Enrolled,ERA,20-06-2022,20-06-2022,0.6,36.9,417.0,83.0,4.1,...,8.8,227.1,23.38,7.5,40.0,43.0,12.00,NaN,16.6,Yes

In [7]:
our_labs_done_set = set(our_done_labs.columns)

In [8]:
additonal_labs_set - our_labs_done_set

{'BRICK_biobank_ID', 'NRCA0', 'Participant Creation Date', 'Participant Id'}

In [9]:
our_done_labs.columns

Index(['Participant ID', 'Participant Status', 'Site Abbreviation',
       'effectiveDateTime_blood_lab0', 'effectiveDateTime_urine_lab0', 'CRP0',
       'FERT0', 'TROMBO0', 'MCV0', 'K00', 'FOLZ0', 'HB0', 'HT0', 'UREU0',
       'VITD0', 'GGT0', 'ALB_U0', 'SCHWARTZ_Bedsite0', 'ASAT0', 'ERY0',
       'TBIL0', 'DBIL0', 'TE_U0', 'TRAF0', 'AFOS0', 'NA0', 'GRAT0', 'LDH0',
       'FE0', 'ALB_U_KR0', 'B120', 'LEU0', 'RETI0', 'TSAT0', 'KREA_U0',
       'ALAT0', 'KREA0', 'TE_U_KR0', 'NRCA', 'RDW0',
       'blood_urine_t0_samedate'],
      dtype='object')

In [10]:
additional_labs = additional_labs.rename(columns={'Participant Id':'Participant ID'})

In [11]:
additional_labs

,Participant ID,Participant Status,Site Abbreviation,Participant Creation Date,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,blood_urine_t0_samedate,BRICK_biobank_ID,ERY0,HB0,...,ASAT0,AFOS0,GGT0,CRP0,KREA_U0,TE_U0,TE_U_KR0,ALB_U0,ALB_U_KR0,B120
0,BRICK_007,Enrolled,ERA,12-04-2024 11:41:27,11/7/2022,11/7/2022,Yes,NaN,2.35,6.4,...,22.0,93.0,23.0,2.2,4.3,0.03,7,<0.002,0.47,1218.0
1,BRICK_009,Enrolled,ERA,12-04-2024 11:41:45,18-07-2022,12/9/2022,No,NaN,NaN,6.3,...,39.0,NaN,17.0,116.0,9.3,0.14,15,0.003,0.32,NaN
2,BRICK_020,Enrolled,ERA,12-04-2024 11:43:09,18-07-2023,17-07-2023,No,NaN,NaN,7.6,...,42.0,101.0,70.0,1.8,9.0,0.05,6,0.002,0.22,178.0
3,BRICK_021,Enrolled,ERA,12-04-2024 11:43:19,29-06-2023,29-06-2023,Yes,NaN,NaN,4.4,...,51.0,258.0,10.0,4.9,4.5,0.06,13,0.003,0.67,485.0
4,BRICK_054,Enrolled,ERA,12-04-2024 11:50:02,26-04-2023,26-04-2023,Yes,NaN,2.62,5.7,...,39.0,297.0,18.0,0.6,3.7,0.05,14,0.007,1.89,355.0
5,BRICK_057,Enrolled,ERA,12-04-2024 11:50:25,20-11-2023,20-11-2023,Yes,NaN,4.46,8.0,...,23.0,78.0,31.0,4.3,6.2,0.04,6,<0.002,0.32,52.0
6,BRICK_061,Enrolled,ERA,12-04-2024 11:50:56,8/4/2024,8/4/2024,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,7.2,5.1,0.09,18,<0.002,0.39,NaN

In [12]:
additional_labs.columns

Index(['Participant ID', 'Participant Status', 'Site Abbreviation',
       'Participant Creation Date', 'effectiveDateTime_blood_lab0',
       'effectiveDateTime_urine_lab0', 'blood_urine_t0_samedate',
       'BRICK_biobank_ID', 'ERY0', 'HB0', 'MCV0', 'HT0', 'RDW0', 'RETI0',
       'LEU0', 'TROMBO0', 'FE0', 'FERT0', 'TRAF0', 'TSAT0', 'ALAT0', 'LDH0',
       'TBIL0', 'DBIL0', 'KREA0', 'SCHWARTZ_Bedsite0', 'NRCA0', 'GRAT0',
       'FOLZ0', 'UREU0', 'NA0', 'K00', 'VITD0', 'ASAT0', 'AFOS0', 'GGT0',
       'CRP0', 'KREA_U0', 'TE_U0', 'TE_U_KR0', 'ALB_U0', 'ALB_U_KR0', 'B120'],
      dtype='object')

In [13]:
additional_labs = additional_labs.drop(['Participant Creation Date','BRICK_biobank_ID'], axis=1)
additional_labs.head(3)

,Participant ID,Participant Status,Site Abbreviation,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,blood_urine_t0_samedate,ERY0,HB0,MCV0,HT0,...,ASAT0,AFOS0,GGT0,CRP0,KREA_U0,TE_U0,TE_U_KR0,ALB_U0,ALB_U_KR0,B120
0,BRICK_007,Enrolled,ERA,11/7/2022,11/7/2022,Yes,2.35,6.4,116.0,0.29,...,22.0,93.0,23.0,2.2,4.3,0.03,7,<0.002,0.47,1218.0
1,BRICK_009,Enrolled,ERA,18-07-2022,12/9/2022,No,NaN,6.3,74.0,NaN,...,39.0,NaN,17.0,116.0,9.3,0.14,15,0.003,0.32,NaN
2,BRICK_020,Enrolled,ERA,18-07-2023,17-07-2023,No,NaN,7.6,104.0,0.33,...,42.0,101.0,70.0,1.8,9.0,0.05,6,0.002,0.22,178.0

In [14]:
additional_labs.columns

Index(['Participant ID', 'Participant Status', 'Site Abbreviation',
       'effectiveDateTime_blood_lab0', 'effectiveDateTime_urine_lab0',
       'blood_urine_t0_samedate', 'ERY0', 'HB0', 'MCV0', 'HT0', 'RDW0',
       'RETI0', 'LEU0', 'TROMBO0', 'FE0', 'FERT0', 'TRAF0', 'TSAT0', 'ALAT0',
       'LDH0', 'TBIL0', 'DBIL0', 'KREA0', 'SCHWARTZ_Bedsite0', 'NRCA0',
       'GRAT0', 'FOLZ0', 'UREU0', 'NA0', 'K00', 'VITD0', 'ASAT0', 'AFOS0',
       'GGT0', 'CRP0', 'KREA_U0', 'TE_U0', 'TE_U_KR0', 'ALB_U0', 'ALB_U_KR0',
       'B120'],
      dtype='object')

In [15]:
additional_labs= additional_labs[['Participant ID', 'Participant Status', 'Site Abbreviation',
       'effectiveDateTime_blood_lab0', 'effectiveDateTime_urine_lab0', 'CRP0',
       'FERT0', 'TROMBO0', 'MCV0', 'K00', 'FOLZ0', 'HB0', 'HT0', 'UREU0',
       'VITD0', 'GGT0', 'ALB_U0', 'SCHWARTZ_Bedsite0', 'ASAT0', 'ERY0',
       'TBIL0', 'DBIL0', 'TE_U0', 'TRAF0', 'AFOS0', 'NA0', 'GRAT0', 'LDH0',
       'FE0', 'ALB_U_KR0', 'B120', 'LEU0', 'RETI0', 'TSAT0', 'KREA_U0',
       'ALAT0', 'KREA0', 'TE_U_KR0', 'NRCA0', 'RDW0',
       'blood_urine_t0_samedate']]

In [16]:
our_done_labs.columns

Index(['Participant ID', 'Participant Status', 'Site Abbreviation',
       'effectiveDateTime_blood_lab0', 'effectiveDateTime_urine_lab0', 'CRP0',
       'FERT0', 'TROMBO0', 'MCV0', 'K00', 'FOLZ0', 'HB0', 'HT0', 'UREU0',
       'VITD0', 'GGT0', 'ALB_U0', 'SCHWARTZ_Bedsite0', 'ASAT0', 'ERY0',
       'TBIL0', 'DBIL0', 'TE_U0', 'TRAF0', 'AFOS0', 'NA0', 'GRAT0', 'LDH0',
       'FE0', 'ALB_U_KR0', 'B120', 'LEU0', 'RETI0', 'TSAT0', 'KREA_U0',
       'ALAT0', 'KREA0', 'TE_U_KR0', 'NRCA', 'RDW0',
       'blood_urine_t0_samedate'],
      dtype='object')

In [17]:
our_done_labs = our_done_labs.rename(columns={'NRCA':'NRCA0'})

In [18]:
together = pd.concat([our_done_labs,additional_labs])
together

,Participant ID,Participant Status,Site Abbreviation,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,CRP0,FERT0,TROMBO0,MCV0,K00,...,LEU0,RETI0,TSAT0,KREA_U0,ALAT0,KREA0,TE_U_KR0,NRCA0,RDW0,blood_urine_t0_samedate
0,BRICK_001,Enrolled,ERA,20-06-2022,20-06-2022,0.8,36.1,561.0,81.0,4.5,...,10.1,370.6,12.30,6.0,53.0,41.0,11.67,NaN,24.2,Yes
1,BRICK_002,Enrolled,ERA,20-06-2022,20-06-2022,0.8,76.8,168.0,71.0,4.7,...,4.4,117.8,18.80,7.6,30.0,63.0,6.58,NaN,14.8,Yes
2,BRICK_003,Enrolled,ERA,20-06-2022,20-06-2022,0.6,36.9,417.0,83.0,4.1,...,8.8,227.1,23.38,7.5,40.0,43.0,12.00,NaN,16.6,Yes
3,BRICK_004,Enrolled,ERA,04-07-2022,04-07-2022,11.0,559.0,181.0,119.0,4.5,...,6.2,103.7,83.11,6.6,15.0,43.0,13.64,NaN,15.3,Yes
4,BRICK_005,Enrolled,ERA,14-12-2022,14-12-2022,5.2,74.9,140.0,66.0,3.8,...,5.2,119.2,17.05,8.9,63.0,40.0,12.36,NaN,16.5,Yes
5,BRICK_006,Enrolled,ERA,14-12-2022,14-12-2022,2.2,74.7,407.0,52.0,4.0,...,5.9,126.9,15.14,5.8,35.0,52.0,10.34,NaN,18.9,Yes
6,BRICK_008,Enrolled,ERA,29-08-2022,29-08-2022,2.6,112.0,122.0,71.0,4.0,...,4.6,162.1,19.25,NaN,27.0,84.0,NaN,NaN,19.1,Yes
7,BRICK_010,Enrolled,ERA,05-06-2023,05-06-2023,8.7,147.0,422.0,80.0,4.2,...,17.6,322.3,17.33,NaN,38.0,27.0,NaN,NaN,23.1,Yes
8,BRICK_011,Enrolled,ERA,25-07-2022,25-07-2022,1.6,51.4,695.0,105.0,4.2,...,7.0,127.1,32.39,9.5,17.0,56.0,8.42,NaN,15.2,Yes
10,BRICK_013,Enrolled,ERA,30-01-2023,30-01-2023,0.6,165.0,196.0,99.0,4.1,...,7.0,101.6,27.78,3.4,20.0,31.0,14.71,NaN,19.4,Yes
11,BRICK_014,Enrolled,ERA,25-07-2022,25-07-2022,0.7,79.5,116.0,102.0,4.1,...,4.6,130.0,27.91,9.4,13.0,49.0,10.64,NaN,21.0,Yes
12,BRICK_015,Enrolled,ERA,11-07-2022,11-07-2022,3.1,160.0,216.0,78.0,3.5,...,14.9,306.6,36.10,23.4,25.0,57.0,29.91,NaN,23.1,Yes
13,BRICK_016,Enrolled,ERA,19-09-2022,19-09-2022,0.6,166.0,302.0,74.0,4.2,...,5.8,133.2,22.16,10.2,11.0,51.0,11.76,NaN,13.8,Yes
14,BRICK_017,Enrolled,ERA,29-08-2022,29-08-2022,0.7,65.6,211.0,71.0,4.4,...,3.3,158.0,25.13,8.8,9.0,49.0,13.64,NaN,19.0,Yes
15,BRICK_018,Enrolled,ERA,19-09-2022,19-09-2022,0.6,97.4,253.0,70.0,6.5,...,6.1,164.9,17.10,7.4,21.0,44.0,13.51,NaN,14.8,Yes
16,BRICK_019,Enrolled,ERA,18-07-2022,18-07-2022,0.6,114.0,127.0,70.0,4.2,...,5.4,128.8,24.98,5.4,14.0,69.0,11.11,NaN,16.0,Yes
17,BRICK_023,Enrolled,ERA,17-07-2023,17-07-2023,NaN,NaN,391.0,91.0,NaN,...,16.2,440.2,NaN,NaN,NaN,NaN,NaN,NaN,19.2,Yes
18,BRICK_024,Enrolled,ERA,12-09-2023,12-09-2023,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.4,NaN,NaN,18.75,NaN,NaN,Yes
19,BRICK_025,Enrolled,ERA,12-09-2022,12-09-2022,7.2,112.0,502.0,102.0,4.3,...,5.5,174.1,62.41,15.0,35.0,53.0,9.33,NaN,18.8,Yes
20,BRICK_026,Enrolled,ERA,21-11-2022,21-11-2022,5.4,71.1,270.0,86.0,4.1,...,13.2,330.6,30.75,6.9,17.0,35.0,17.39,NaN,19.8,Yes
21,BRICK_027,Enrolled,ERA,12-09-2023,12-09-2023,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.4,NaN,NaN,16.22,NaN,NaN,Yes
22,BRICK_028,Enrolled,ERA,21-06-2023,21-06-2023,0.6,NaN,224.0,68.0,4.2,...,5.9,93.9,19.51,6.0,9.0,69.0,8.33,NaN,15.3,Yes
23,BRICK_029,Enrolled,ERA,21-11-2022,21-11-2022,0.8,46.6,428.0,81.0,4.7,...,8.8,362.4,13.36,7.8,21.0,48.0,14.10,NaN,23.3,Yes
24,BRICK_030,Enrolled,ERA,21-11-2022,21-11-2022,1.9,110.0,410.0,94.0,4.0,...,12.6,420.8,26.98,5.8,28.0,37.0,13.79,NaN,21.4,Yes
25,BRICK_031,Enrolled,ERA,24-10-2022,24-10-2022,0.6,51.4,133.0,75.0,4.2,...,4.7,99.8,24.57,9.1,18.0,68.0,8.79,NaN,14.6,Yes
26,BRICK_033,Enrolled,ERA,24-10-2022,24-10-2022,1.5,205.0,593.0,80.0,4.3,...,5.4,370.3,22.35,4.2,18.0,28.0,11.90,NaN,23.5,Yes
27,BRICK_035,Enrolled,ERA,27-02-2023,27-02-2023,1.9,472.0,314.0,120.0,4.2,...,4.3,105.6,76.72,8.7,14.0,61.0,18.39,3.11,16.4,Yes
28,BRICK_037,Enrolled,ERA,12-12-2022,12-12-2022,13.0,59.1,262.0,70.0,3.8,...,10.7,94.9,11.60,13.7,11.0,47.0,5.84,NaN,17.2,Yes
29,BRICK_038,Enrolled,ERA,08-03-2023,08-03-2023,2.2,433.0,419.0,88.0,4.1,...,7.4,311.9,24.21,NaN,17.0,30.0,NaN,NaN,23.9,Yes
30,BRICK_039,Enrolled,ERA,08-03-2023,08-03-2023,0.6,478.0,1295.0,97.0,3.8,...,6.7,78.3,29.22,NaN,12.0,25.0,NaN,NaN,15.0,Yes
31,BRICK_040,Enrolled,ERA,27-02-2023,27-02-2023,3.0,549.0,486.0,79.0,4.0,...,11.0,99.8,28.57,7.9,21.0,34.0,12.66,NaN,16.8,Yes
32,BRICK_041,Enrolled,ERA,25-01-2023,25-01-2023,2.2,87.5,453.0,88.0,4.0,...,7.9,177.4,31.75,6.8,14.0,31.0,14.71,NaN,18.0,Yes
33,BRICK_042,Enrolled,ERA,25-01-2023,25-01-2023,3.9,38.1,203.0,71.0,4.1,...,6.2,178.1,19.99,5.6,21.0,26.0,16.07,NaN,17.0,Yes
34,BRICK_043,Enrolled,ERA,17-07-2023,17-07-2023,0.7,43.2,605.0,101.0,4.0,...,9.1,117.3,19.05,5.7,18.0,42.0,12.28,NaN,14.5,Yes
35,BRICK_044,Enrolled,ERA,30-01-2023,30-01-2023,4.3,278.0,362.0,92.0,3.9,...,9.5,459.6,19.84,5.4,21.0,25.0,20.37,NaN,22.1,Yes
36,BRICK_047,Enrolled,ERA,27-03-2023,27-03-2023,0.6,33.5,294.0,68.0,4.4,...,8.1,80.2,20.88,13.5,16.0,62.0,5.93,NaN,14.0,Yes
37,BRICK_048,Enrolled,ERA,27-03-2023,27-03-2023,0.6,29.9,236.0,78.0,4.4,...,8.4,97.7,15.74,11.4,30.0,55.0,4.39,NaN,14.2,Yes
38,BRICK_049,Enrolled,ERA,27-03-2023,27-03-2023,0.6,42.1,340.0,68.0,4.4,...,7.1,100.9,25.34,7.1,18.0,54.0,5.63,NaN,14.6,Yes
39,BRICK_050,Enrolled,ERA,27-03-2023,27-03-2023,2.0,25.5,487.0,73.0,4.7,...,9.5,303.5,13.23,5.3,25.0,50.0,20.75,NaN,22.3,Yes
40,BRICK_051,Enrolled,ERA,13-03-2023,13-03-2023,0.6,311.0,541.0,99.0,4.2,...,11.0,436.7,43.65,6.9,27.0,44.0,11.59,NaN,15.4,Yes
41,BRICK_052,Enrolled,ERA,04-04-2023,04-04-2023,0.6,115.0,133.0,106.0,4.2,...,6.0,227.2,39.68,4.0,12.0,46.0,7.50,NaN,18.6,Yes
42,BRICK_053,Enrolled,ERA,04-04-2023,04-04-2023,4.2,86.4,380.0,86.0,4.6,...,8.9,190.0,13.61,NaN,31.0,36.0,NaN,NaN,18.8,Yes
43,BRICK_054,Enrolled,ERA,26-04-2023,26-04-2023,0.6,83.3,574.0,95.0,4.5,...,11.7,289.0,37.88,3.7,17.0,42.0,13.51,NaN,16.5,Yes
44,BRICK_055,Enrolled,ERA,17-11-2023,17-11-2023,4.4,1486.0,510.0,90.0,4.1,...,12.6,574.6,31.25,3.9,18.0,37.0,12.82,NaN,18.4,Yes
45,BRICK_056,Enrolled,ERA,10-05-2023,10-05-2023,4.2,178.0,336.0,79.0,4.3,...,14.6,347.2,23.96,6.7,28.0,44.0,13.43,NaN,17.6,Yes
47,BRICK_021,Enrolled,ERA,29-06-2023,29-06-2023,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
0,BRICK_012,Enrolled,ERA,16-03-2022,18-07-2022,NaN,43.9,160.0,119.0,4.1,...,4.0,237.7,NaN,6.2,20.0,39.0,16.13,NaN,16.6,No
0,BRICK_007,Enrolled,ERA,11/7/2022,11/7/2022,2.2,152.0,279.0,116.0,4.4,...,3.3,62.7,2.10,4.3,22.0,58.0,7.00,NaN,15.1,Yes
1,BRICK_009,Enrolled,ERA,18-07-2022,12/9/2022,116.0,NaN,154.0,74.0,NaN,...,9.5,85.7,NaN,9.3,10.0,40.0,15.00,NaN,14.6,No
2,BRICK_020,Enrolled,ERA,18-07-2023,17-07-2023,1.8,215.0,450.0,104.0,4.1,...,6.4,170.2,25.00,9.0,42.0,75.0,6.00,NaN,13.8,No
3,BRICK_021,Enrolled,ERA,29-06-2023,29-06-2023,4.9,194.0,104.0,82.0,4.2,...,6.9,381.9,49.00,4.5,7.0,36.0,13.00,NaN,19.7,Yes
4,BRICK_054,Enrolled,ERA,26-04-2023,26-04-2023,0.6,83.3,574.0,95.0,4.5,...,11.7,289.0,38.00,3.7,17.0,42.0,14.00,NaN,16.5,Yes
5,BRICK_057,Enrolled,ERA,20-11-2023,20-11-2023,4.3,203.0,251.0,78.0,4.0,...,4.6,123.1,44.00,6.2,13.0,82.0,6.00,NaN,12.6,Yes
6,BRICK_061,Enrolled,ERA,8/4/2024,8/4/2024,7.2,NaN,NaN,NaN,NaN,...,NaN,NaN,22.00,5.1,NaN,NaN,18.00,NaN,NaN,Yes

In [19]:
#together = together.reset_index()
together.head(3)

,Participant ID,Participant Status,Site Abbreviation,effectiveDateTime_blood_lab0,effectiveDateTime_urine_lab0,CRP0,FERT0,TROMBO0,MCV0,K00,...,LEU0,RETI0,TSAT0,KREA_U0,ALAT0,KREA0,TE_U_KR0,NRCA0,RDW0,blood_urine_t0_samedate
0,BRICK_001,Enrolled,ERA,20-06-2022,20-06-2022,0.8,36.1,561.0,81.0,4.5,...,10.1,370.6,12.30,6.0,53.0,41.0,11.67,NaN,24.2,Yes
1,BRICK_002,Enrolled,ERA,20-06-2022,20-06-2022,0.8,76.8,168.0,71.0,4.7,...,4.4,117.8,18.80,7.6,30.0,63.0,6.58,NaN,14.8,Yes
2,BRICK_003,Enrolled,ERA,20-06-2022,20-06-2022,0.6,36.9,417.0,83.0,4.1,...,8.8,227.1,23.38,7.5,40.0,43.0,12.00,NaN,16.6,Yes

In [20]:
# together = together.drop(['index'], axis=1)
# together

In [21]:
together['blood_urine_t0_samedate'] = together['blood_urine_t0_samedate'].replace('Yes','1')
together['blood_urine_t0_samedate'] = together['blood_urine_t0_samedate'].replace('No','0')
together['blood_urine_t0_samedate']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
47    1
0     0
0     1
1     0
2     0
3     1
4     1
5     1
6     1
Name: blood_urine_t0_samedate, dtype: object

In [22]:
together.to_csv('../../secret_data/labdata_complete_T0.csv')

<class 'pandas.core.series.Series'>